
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <div class=""><a routerLink=""><img src="../../assets/img/bridge-logo.png" style="width: 10%;margin-top: -10%;"></a>
                <img src="../../assets/img/Capture.PNG" class="crea-bann"></div>

        </div>
        <div class="col-md-6 login-form-2">
            <h3>Register</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <br><br>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" value="" />
                </div>


                <br><br>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Register" />
                </div>

            </form>
        </div>
    </div>
</div>
