td.ActiveBTN{
  width: 70px;
}

.modal-body .dropdown-item{
  background-color: #4a79e4;
  margin-top: 20px;
  color: #fff;
  width: 500px;
  border-radius: 4px;
}

.colorbluw{
  color: #4a79e4;
}
app-phone {
  position: fixed;
  bottom: -10%;
  right: 30%;
  z-index: 99;
}


.force-overflow {
height: 220px;
  overflow-y: auto;
  transition: all 0.6ms;

  visibility: hidden;

}

.scrollbox-content,
.force-overflow:hover,
.force-overflow:focus {
  visibility: visible;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  background-color: #9d9d9d;
}


/* Assign To css Start */
/* 
.assign-dropdown::after {
  float: right !important;
  margin-top: 10px;
}

.btn-assign {
  background: #F4F7FE;
  border-radius: 6px;
  color: #000000;
  font-size: 12px;
  padding: 10px;
  margin-top: 14px;
}

.assign-btn {
  background-color: #2058D8;
  border-radius: 8px;
  color: #fff;
  width: 150px;
}

.cancelbtn {
  background: #FFFFFF;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  color: #2058D8;
  width: 150px;
}

.search_icon span {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

.assign-ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.assign-ul li a {
  text-decoration: none;
  display: inherit;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.assign-ul li a span {
  width: 35px;
  height: 35px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
}

.filtersize {
  font-size: 12px;
} */

/* Assign To css Close */
.messagebox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 2px;
}

.messagebox-remark {
  position: absolute;
  left: 0;
  top: 9px;
  right: 40px;
  padding: 2px;
  bottom: 9px;
  border-radius: 8px;
}

.figma-modal-fotter {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
  box-shadow: 0px -1px 6px 0px rgba(74, 74, 74, 0.25);
  background: var(--template-bg);
  border-radius: 0 0 14px 14px;
  width: 100%;
  z-index: 100;
}

 .figma-modal-fotter button {
  padding: 6px 7px;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.035px;
  border-radius: 4px;
}

.MainFilterLabel {
  font-size: 13px;
  margin-top: -3px !important;
  margin-bottom: 0px !important;
  font-weight: 400;
}
