<!-- <p>field-management works!</p> -->
<section class="home-section" appLeftMenuNavbar>
    <app-header></app-header>

    <div class="home-content">
      <div class="custom-search-container">
        <p class="custom-search-head-name"><span [innerHTML]="'figma-backgarrow-ico' | svgIcons:''" (click)="backClicked()" style="cursor:pointer;"></span>Field Management
         </p>
        <div class="custom-search-wrapper">
          <div ngbDropdown class="custom-common-search-container">
            <!-- <button type="button" class="custom-com-temp-btn" (click)="SaveChange()">-->
              <button class="custom-com-temp-btn" (click)="deleteAttach(confirmModal)">
              <span
                class="custom-sp-plus-ft-sz"></span> Save</button>

          </div>
        </div>
      </div>
      <div class="sales-boxes">

          <div class="recent-sales UserManagement">

            <div class="sales-details">
              <div class="custom-outter-body-lead-list-c9">
                <div class="custom-table-select-icons">
                  <span [innerHTML]="'figma-table-refresh' | svgIcons:'figma-template-central'" (click)="getModuleData()"></span>
                </div>
              </div>
            </div>
                    <!-- Parent Table -->
                    <table id="table-data" class="new-tabl">
                        <thead class="MainUserList">
                          <tr>
                            <th style="width: 100px;">ID</th>
                            <th style="width: 400px;">Module Name</th>
                            <th style="width: 300px;" class="text-center" *ngIf="AddDynamicFields == 'true'">Add New</th>
                            <th style="width: 100px;" class="text-center">Action</th>
                          </tr>
                        </thead>
                          <ng-container *ngFor="let module of Module; let i = index">
                            <tr [class.MainUserList2]="openId == i" *ngIf="module.is_accessible == true">
                              <td>{{ module.module_id }}</td>
                              <td>{{ module.module_name }}</td>
                              <td class="text-center" *ngIf="AddDynamicFields == 'true'"><div class="ActiveBTN rounded-pill badge-primary" style="color:#000;"  (click)="openmaximize(mymodal,false,module,4)"> <i class="fa fa-plus"></i>&nbsp;Add</div></td>
                              <td class="text-center" style="cursor:pointer" (click)="toggleSubfields(i)">
                                <i [ngClass]="{'fa-caret-down': openId == i,'fa-caret-right': openId != i}" class="fa fa-caret-right" style="padding: 8px;"></i>
                              </td>
                            </tr>
                            <!-- Subfields table: Visible when openId equals the current index -->
                            <tr *ngIf="openId == i">
                              <td colspan="4" style="padding:0px !important;">
                                <table id="table-data" class="new-tabl" style="border: 1px solid #cdcdcd;border-top: 0;">
                                  <thead style="border-bottom: 1px solid #cdcdcd;" [class.MainUserList3]="openId == i">
                                    <tr>
                                      <th style="width: 100px;">S. No.</th>
                                      <th style="width: 200px;">Field Name</th>
                                      <th style="width: 200px;">Field Type</th>
                                      <th style="width: 150px;">Required</th>
                                      <th style="width: 150px;">Workflow</th>
                                      <th style="width: 100px;" class="text-center">Action</th>
                                    </tr>
                                  </thead>
                                    <tr *ngFor="let subfield of module.data;let j = index">
                                      <td>{{ j+1 }}</td>
                                      <td>
                                       <span *ngIf="isEditIndex != j"> {{ subfield.label }} </span>
                                       <span *ngIf="isEditIndex == j">
                                         <input type="text" [(ngModel)]="subfield.label" (change)="subfield.label = subfield.label.trim()" name="label_{{i}}">
                                        </span>
                                      </td>
                                      <td>{{subfield.is_dynamic == true?'Dynamically Added Field':'Main Static Field'}}</td>
                                      <td>
                                        <span *ngIf="isEditIndex != j">  {{ subfield.is_mandatory == 'true' || subfield.is_mandatory == true ? 'Yes' : 'No' }} </span>
                                        <span *ngIf="isEditIndex == j"> <select [(ngModel)]="subfield.is_mandatory" name="is_mandatory_{{i}}">
                                        <option [value]="true">Yes</option>
                                        <option [value]="false" *ngIf="subfield.is_key_mandatory == false">No</option>
                                        </select>
                                        </span>
                                      </td>
                                      <td>
                                        <span *ngIf="isEditIndex != j">{{ subfield.is_workflow || false }} </span>
                                        <span *ngIf="isEditIndex == j && subfield.is_workflow == true">
                                          <select [(ngModel)]="subfield.workflow_id" name="workflow_id_{{i}}">
                                            <!-- <option value="">Select WorkFlow</option> -->
                                            <option *ngFor="let role of UserRole" value="{{role.id}}">{{role.workflow_title}}</option>
                                            </select>
                                        </span>

                                        </td>
                                      <td class="text-center">
                                        <i class="fa fa-pencil" style="color: #4a79e4;font-size: 14px;cursor: pointer;padding: 6px;" (click)="handleAction(subfield,j)" *ngIf="isEditIndex != j"></i>
                                        <i class="fa fa-check" style="color: #67e44a;font-size: 16px;cursor: pointer;padding: 6px;" (click)="SaveAction(subfield,j)" *ngIf="isEditIndex == j"></i>
                                        <i class="fa fa-times-circle" style="color: #e44a4a;font-size: 14px;cursor: pointer;padding: 6px;" *ngIf="subfield.is_dynamic == true"  (click)="deleteAttach2(confirmModal2,subfield)"></i>
                                        <!-- <i class="fa fa-times-circle" style="color: #463f3f;font-size: 14px;cursor: no-drop;padding: 6px;" *ngIf="subfield.is_dynamic == false"></i> -->

                                      </td>
                                    </tr>
                                </table>
                              </td>
                            </tr>
                          </ng-container>
                      </table>


  <div class="LoderGifHere" *ngIf="isLoading">
    <img src="../../assets/img/loder.gif">
  </div>

          </div>
        </div>
      </div>
    <!--  -->
  </section>
  <ng-template #confirmModal let-modal>
    <div class="modal-body">
      <p>Are you sure you want to make changes?</p>
      <div class="confirm-btn">

        <button class="btn custom-btn-outline-blue" (click)="modal.dismiss('Cross click')">Cancel</button>
        <button class="btn custom-btn-blue" (click)="SaveChange()">OK</button>
      </div>
    </div>
  </ng-template>


  <ng-template #confirmModal2 let-modal>
    <div class="modal-body">
      <p> Are You Sure Do You Want to Delete This Field ?</p>
      <div class="confirm-btn">
        <button class="btn custom-btn-blue" (click)="SaveChange2()">OK</button>
        <button class="btn custom-btn-outline-blue" (click)="modal.dismiss('Cross click')">Cancel</button>
      </div>
    </div>
  </ng-template>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title modal-heading" id="modal-basic-title">{{isEdit?'Edit':'Add'}} New Field in {{AddUser.model_name}}</h4>
  </div>
  <div class="modal-body">
    <div class="lead-update-wrapper">
      <label  class="userLabel" >Field Type</label>
      <div>
        <select class="input-fld" [(ngModel)]="AddUser.field_data[0].data_type"  name="data_type">
        <option value="text">Text</option>
        <option value="number">Number</option>
        <option value="date">Date</option>
        <option value="Dropdown">Dropdown</option>
        </select>
      </div>
    </div>


    <div class="lead-update-wrapper" *ngIf="AddUser.field_data[0].data_type == 'Dropdown'">
      <label class="userLabel">Options</label>
      <div>
        <ng-container *ngFor="let address of addresses; let i = index;">
        <input type="text" class="input-fld" placeholder="Enter Option {{i+1}}"
        [(ngModel)]="address.value" name="value_{{i}}" style="width: 80%;">
        <i class="fa fa-times" style="color: #e4694a;cursor: pointer;width: 20%;text-align: center;" (click)="removeAddress(i)" *ngIf="i != 0"></i>
        </ng-container>
         <div (click)="addAddress()" style="color: #ef343b;font-size: 13px;padding: 10px;width: 135px;cursor: pointer;">Add New Option</div>
      </div>
    </div>

    <div class="lead-update-wrapper" style="margin-bottom: 50px">
      <label class="userLabel">Field Title</label>
      <div>
        <input type="text" class="input-fld required-fld" #FieldName="ngModel" pattern="^[a-zA-Z0-9 ]{1,20}$" placeholder="Enter Title" maxlength="30"
        [(ngModel)]="AddUser.field_data[0].verbose_name"  name="verbose_name">

        <span class="help-block danger" *ngIf="FieldName.errors?.pattern">
          Invalid Field Title
        </span>
      </div>
    </div>
    <br>

    <div class="figma-modal-fotter">
      <button class="figma-outline-btn" (click)="modal.dismiss('Cross click')">Cancel</button>
      <button class="figma-prim-btn" (click)="AppruvedPosition2()" *ngIf="!isLoading && FieldName.valid">Save</button>
      <button class="figma-prim-btn" *ngIf="isLoading" style="cursor: no-drop;">Save</button>

    </div>
  </div>

</ng-template>

<ng-template #confirmModal2 let-modal>
  <div class="modal-body">
    <p>Are You Sure Do You Want To Move This Data in Junk ?</p>
    <div class="confirm-btn">

      <button class="btn custom-btn-outline-blue" (click)="modal.dismiss('Cross click')">Cancel</button>
      <button class="btn custom-btn-blue" (click)="multipleDelete1(JunkId)">OK</button>
    </div>
  </div>
</ng-template>

<ng-template #confirmLogout let-modal>
  <div class="modal-body">
    <p>Are you sure you want to save changes?</p>
    <div class="confirm-btn">

      <button class="btn custom-btn-outline-blue" (click)="modal.dismiss('Cancel click')">Cancel</button>
      <button class="btn custom-btn-blue" (click)="SaveChange()">OK</button>

    </div>
  </div>
</ng-template>

