<section class="home-section" appLeftMenuNavbar>
  <app-header></app-header>
  <div class="home-content">
    <div class="figma-detial-home-sec-spliter">
      <div class="figma-left-main-container" *ngFor="let item of quotations">
        <div class="figma-detail-header">
          <div class="figma-left-part">
            <i class="fa-regular fa-arrow-left cursor-pointer" (click)="backClicked()"></i>
            <div class="figma-heading-ref-wrap">
              <span class="figma-main-head">{{Headingss[0].leftheading}}</span>
              <i class="fa-solid fa-chevron-right"></i>
              <span class="figma-lead-ref-name">{{Headingss[0].heading116}}</span>
            </div>
          </div>
          <div class="figma-right-part" *ngIf="item.CancelStatus == 'csNo' && item.is_draft == 0">
            <button class="figma-prim-btn" (click)="createOrder(item.id)" *ngIf="item.DocumentStatus == 'bost_Open' && isModuleViewadd(6)" style="cursor: pointer;">{{Headingss[0].heading101}} {{Headingss[0].heading13}}</button>
             <button class="figma-prim-btn" (click)="GoToPdf(item.id)" style="cursor: pointer;">{{Headingss[0].heading15}}</button>
          </div>
        </div>

        <div class="figma-detail-main-info">
          <div class="figma-detail-info-split-two">
            <div class="figma-detail-info-header">
              <div class="cardnameicon" style="text-transform: uppercase;">{{item.CardName[0] || 'N'}}</div>
              <div class="figma-info-contain">
                <div class="figma-info-name--address">
                  <div class="figma-info-name">{{item.CardName || 'NA'}} - <span style="font-size: 12px;">({{item.U_QUOTNM || 'NA'}})</span></div>
                  <!-- <div class="figma-info-address">Quotation Name</div> -->
                </div>
                <span class="figma-info-role2" *ngFor="let sperson of item.ContactPersonCodeDetails">{{Headingss[0].heading4}} : {{sperson.FirstName || 'NA'}}</span>
                <div class="figma-info-num-email" *ngFor="let item2 of customers">

                  <span class="figma-info-email">
                    <i class="fa-solid fa-envelope"></i>
                    {{item2.EmailAddress}}
                  </span>
                  <span class="figma-info-num">
                    <i class="fa-solid fa-phone"></i>
                    {{item2.Phone1}}
                  </span>
                </div>
              </div>
            </div>
            <div class="figma-info-spi-buttn">
              <div class="figma-info-button">
                <span *ngIf="item.CancelStatus == 'csNo'" class="figma-status">{{Headingss[0].heading14}}: {{item.DocumentStatus == 'bost_Open'?'Open':'Close'}}</span>
                <span *ngIf="item.CancelStatus != 'csNo'" class="figma-status">{{Headingss[0].heading14}}: {{'Cancel'}}</span>
                <span class="figma-outline-btn" [innerHTML]="'figma-edit-ico' | svgIcons:''" routerLink="/quotation/edit-quotation/{{idd}}" *ngIf="item.DocumentStatus != 'bost_Close' && item.is_draft == 0 && isModuleViewedit(5)" style="cursor:pointer"></span>
                <!-- <span class="figma-outline-btn" [innerHTML]="'figma-hr-trip-dots' | svgIcons:''"></span> -->
              </div>
              <!-- <div class="figma-dates-info">
                <span>Last Updated: <span class="small-box">{{item.UpdateDate}}</span></span>
              </div> -->
            </div>
          </div>
          <div class="figma-detail-properties">
            <div class="figma-detail-proper" *ngFor="let sperson of item.SalesPersonCodeDetails"><span>{{Headingss[0].heading6}} : </span>{{sperson.SalesEmployeeName || 'NA'}}</div>
             <div class="figma-detail-proper"><span>{{Headingss[0].heading5}} : </span>{{item.TaxDate | customDate}}</div>
            <div class="figma-detail-proper"><span>{{Headingss[0].heading50}} : </span>{{item.DocDueDate | customDate}}</div>
            <div class="figma-detail-proper"><span>{{Headingss[0].heading51}} : </span>{{item.DocDate | customDate}}</div>
            <!-- <div class="figma-detail-proper"><span>PO Date: </span>{{item.PODate | customDate}}</div>
            <div class="figma-detail-proper"><span>PO No: </span>{{item.PONumber}}</div> -->
            <!--<div class="figma-detail-proper">Frequency: <span>{{getFreqnacyt(item.Frequency)}}</span></div>
            <div class="figma-detail-proper">Assign To: <span>{{item.AssignByDetails[0].SalesEmployeeName || 'NA'}}</span></div> -->
          </div>

          <div class="figma-ul-types-container">
            <ul class="figma-ul-types">
              <li [class.active]="commonObj.detailTab == 'Items'" (click)="commonObj.detailTab = 'Items'"><span [innerHTML]="'figma-product-bag-ico' | svgIcons:''"></span>{{Headingss[0].heading118}}</li>
              <li [class.active]="commonObj.detailTab == 'detail'" (click)="commonObj.detailTab = 'detail'"><span [innerHTML]="'figma-detail-file-ico' | svgIcons:''"></span>{{Headingss[0].heading107}}</li>
              <li [class.active]="commonObj.detailTab == 'attachment'" (click)="commonObj.detailTab = 'attachment'"><span [innerHTML]="'figma-attachment-file-ico' | svgIcons:''"></span>{{Headingss[0].heading108}}</li>
              </ul>
          </div>

          <ng-container *ngIf="commonObj.detailTab == 'Items'">
            <div class="figma-collapse-product-info">
              <div class="figma-collapse-product-header">
                <div class="figma-collapse-product-left-content">
                  <span class="figma-product-head-data-count">Item ({{Items.length}})</span>
                </div>
                <div class="figma-collapse-product-right-content">
                  <!-- <button class="figma-outline-btn">Add Item</button> -->
                  <i class="fa-solid fa-chevron-up figma-collapse-arrow-chev-font-awe-icon" (click)="collapse.toggle()"
                  [attr.aria-expanded]="!isCollapsed2"></i>
                </div>
              </div>
              <div class="figma-product-table-container" style="padding: 0;" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                <table class="new-tabl">
                  <thead  class="MainUserList" style="top:0px !important">
                    <tr>
                    <th>{{Headingss[2].heading}}</th>
                    <th>{{Headingss[2].heading0}}</th>
                    <th>{{Headingss[2].heading2}}</th>
                    <th>{{Headingss[2].heading7}}</th>
                    <th>{{Headingss[2].heading8}}</th>
                    <th>{{Headingss[2].heading9}}</th>
                    <th>{{Headingss[2].heading6}}</th>
                    <th>{{Headingss[0].heading14}}</th>
                    </tr>
                  </thead>
                      <tr *ngFor="let item3 of Items">
                      <td>{{item3.ItemCode}}</td>
                      <td>{{item3.ItemDescription}} </td>
                      <td>{{item3.UnitPrice}}</td>
                      <td>{{item3.TaxRate}}</td>
                      <td>{{item3.DiscountPercent}}</td>
                      <td>{{item3.OpenQuantity}}</td>
                      <td>{{item3.Quantity}}</td>
                      <td *ngIf="item.CancelStatus == 'csNo'">{{item3.LineStatus == 'bost_Close'?'Close':'Open'}}</td>
                      <td *ngIf="item.CancelStatus != 'csNo'">Cancel</td>

                      <!-- <td [innerHTML]="'table-v-dots' | svgIcons:'figma-template-central'" class="table-v-dots"></td> -->
                      </tr>
                      <tr>
                        <td colspan="8" style="border-top: 1px solid #e0e0e0;
                        padding: 0px !important;">
                          <div class="figma-product-account-detail-container">
                            <div class="figma-product-account-details">
                              <p  class="figma-product-account-detail-label">{{Headingss[4].heading}}</p>
                              <p class="figma-product-account-detail-total-val">{{total_after | priceFormat}} /-</p>
                              <p  class="figma-product-account-detail-label">{{Headingss[2].heading8}}</p>
                              <p class="figma-product-account-detail-total-val">{{item.DiscountPercent}}</p>
                              <p  class="figma-product-account-detail-label">{{Headingss[4].heading0}}</p>
                              <p class="figma-product-account-detail-total-val">{{total_after_tax | priceFormat}} /-</p>
                              <p  class="figma-product-account-detail-label">{{Headingss[2].heading7}}</p>
                              <p class="figma-product-account-detail-total-val">{{tax_Value | priceFormat}} /-</p>
                              <ng-container *ngIf="isModulefieldview(5, 'FreightCharge')">
                              <p  class="figma-product-account-detail-label">{{Headingss[0].heading9}}</p>
                              <p class="figma-product-account-detail-total-val">{{item.FreightCharge || 0 | priceFormat}} /-</p>
                            </ng-container>
                              <p  class="figma-product-account-detail-label">{{Headingss[4].heading1}}</p>
                              <p class="figma-product-account-detail-total-val">{{total_Amount | priceFormat}} /-</p>
                              <!-- <span class="figma-product-account-detail-label">Total Amount:</span>
                              <span class="figma-product-account-detail-total-val"> {{total_Amount | priceFormat}}</span> -->
                            </div>
                          </div>
                        </td>
                      </tr>
                </table>

              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="commonObj.detailTab == 'detail'">
            <div class="figma-collapse-common-info">
              <div class="figma-collapse-head-tab">
                <p class="figma-collapse-head-name" style="border-bottom: 2px solid #4a79e4;">{{Headingss[0].SubHeading}}</p>
                <i class="fa-solid fa-chevron-up figma-collapse-arrow-chev-font-awe-icon" (click)="collapse4.toggle()"
                  [attr.aria-expanded]="!isCollapsed4" [ngClass]="{'fa-chevron-up': isCollapsed4, 'fa-chevron-down': !isCollapsed4}"></i>
              </div>
              <div class="figma-collapse-common-info-detail">
                <div class="figma-collapse-common-info-detail-wrapper-new" #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4">

                    <div class="customer-details-grid" style="margin-top:0px;">
                      <ng-container *ngIf="isModulefieldview(5, 'U_OPPRNM')">
                    <div>
                      <p class="grey1">{{Headingss[0].heading1}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.U_OPPRNM || 'NA'}}</p>
                    </div>
                  </ng-container>
                    <div>
                      <p class="grey1">{{Headingss[0].heading7}}</p>
                    </div>
                    <div>
                      <p class="dtl" *ngIf="item.CompanyBranchDetails.length != 0">{{item.CompanyBranchDetails[0].BPLName}}</p>
                      <p class="dtl" *ngIf="item.CompanyBranchDetails.length == 0">{{'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[0].heading8}}</p>
                    </div>
                    <div>
                      <p class="dtl" *ngIf="item.PaymentGroupCodeDetails.length != 0">{{item.PaymentGroupCodeDetails[0].PaymentTermsGroupName}}</p>
                      <p class="dtl" *ngIf="item.PaymentGroupCodeDetails.length == 0">{{'NA'}}</p>
                    </div>
                    <ng-container *ngIf="isModulefieldview(5, 'Comments')">
                    <div>
                      <p class="grey1">{{Headingss[0].heading10}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.Comments || 'NA'}}</p>
                    </div>
                  </ng-container>
                    <h6 class="heading-title-underline"> {{Headingss[1].heading1}}</h6>
                    <div>
                      <p class="grey1"> {{Headingss[1].heading0}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.BillToBuilding || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading5}}</p>
                    </div>
                    <div>

                      <p class="dtl">{{item.AddressExtension.BillToZipCode || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading4}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.U_BCOUNTRY || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading3}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.U_BSTATE || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading2}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.BillToCity || 'NA'}}</p>
                    </div>
                    <ng-container *ngIf="isModulefieldview(5, 'U_SHPTYPB')">
                    <div>
                      <p class="grey1">{{Headingss[1].heading6}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.U_SHPTYPB || 'NA'}}</p>
                    </div>
                  </ng-container>
                    <div>
                      <p class="grey1">{{Headingss[1].heading111}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.BillToStreet || 'NA'}}</p>
                    </div>
                    <h6 class="heading-title-underline">{{Headingss[1].SubHeading2}} </h6>
                    <div>
                      <p class="grey1">{{Headingss[1].heading7}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.ShipToBuilding || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading8}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.ShipToZipCode || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading9}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.U_SCOUNTRY || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading10}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.U_SSTATE || 'NA'}}</p>
                    </div>
                    <div>
                      <p class="grey1">{{Headingss[1].heading11}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.ShipToCity || 'NA'}}</p>
                    </div>
                    <ng-container *ngIf="isModulefieldview(5, 'U_SHPTYPS')">
                    <div>
                      <p class="grey1">{{Headingss[1].heading13}} </p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.U_SHPTYPS || 'NA'}}</p>
                    </div>
                  </ng-container>
                    <div>
                      <p class="grey1"> {{Headingss[1].SubHeading22}}</p>
                    </div>
                    <div>
                      <p class="dtl">{{item.AddressExtension.ShipToStreet || 'NA'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ng-container>
          <ng-container *ngIf="commonObj.detailTab == 'attachment'">
            <div class="figma-attachment-container">
              <div class="figma-attachment-add-wrapper">
                <div class="figma-attachment-add-content">
                  <div class="figma-attachment-title">Attach File</div>
                  <div class="figma-attachment-txt">Click on attach file button on the right corner to upload your files</div>
                </div>
                <!-- <button class="figma-outline-btn"><span class="custom-sp-plus-ft-sz">+</span> Attach Files</button> -->
                <div class="fileupload-container" appDnd (fileDropped)="oneditFileDropped($event)">
                  <input type="file" class="fileuploadref" #fileDropRef1 id="fileDropRef1" multiple
                    (change)="fileeditBrowseHandler($event)" />

                  <label class="fw-600">+ Attach Files </label>
                  <!-- <label for="fileDropRef"> &nbsp; or drag it here</label> -->
                </div>
              </div>
              <div class="figma-attachment-list-container">
                <!-- <div class="figma-attachment-list-date">June 8 2023</div> -->
                <div class="figma-attachment-list-card-content-wrapper">
                  <div class="figma-attachment-list-card">
                    <div class="figma-attachment-list" *ngFor="let file of quotationAttachment; let i = index">
                      <a href="{{ this.baseUrl2 }}{{ file.File }}" target="_blank">
                        <span [innerHTML]="'figma-file-img-frame' | svgIcons:''"></span>
                        </a>
                      <div class="figma-attachment-list-file-name">{{
                        file.File.substr(file.File.lastIndexOf("/") + 1)
                        }}</div>
                      <!-- <div class="figma-attachment-list-file-by">By Yogita Mer</div> -->
                      <div class="figma-attachment-list-file-date">{{ file.CreateDate | customDate}}</div>
                      <div class="figma-attachment-list-file-date">{{ file.CreateTime}}</div>
                      <!-- <div class="figma-attachment-list-file-date">Need Analysis</div> -->
                      <span [innerHTML]="'figma-modal-close' | svgIcons:''" (click)="deleteAttach(confirmModal,file.id)"></span>
                    </div>
                    <div *ngIf="quotationAttachment.length == 0" style="text-align: center;font-size: 20px;color: #4A79E4;">No Data Found</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

    </div>
  </div>
</section>


<ng-template #confirmModal let-modal>
  <div class="modal-body">
    <p> Are You Sure Do You Want To Delete File ?</p>
    <div class="confirm-btn">
      <button class="btn custom-btn-blue" (click)="deletefileapi(deletebranch1)">OK</button>
      <button class="btn custom-btn-outline-blue" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </div>
</ng-template>
