.firstTalbe{
  padding: 10px;
  border: 1px solid #dfdfdf;
  margin-top: 10px;
  border-radius: 8px;
}

.firstTalbe .figma-collapse-product-header{
  margin-bottom: 20px !important;
}


.firstTalbe .figma-outline-btn{
  padding: 2px 10px !important;
}
