<nav class="bridge-nav">
    <div class="container pt-10">
        <div class="row">
            <!-- <div class="bridge-logo col-md-9"><img src="../../assets/img/bridge-logo.png" class="img-logo"></div> -->
            <div class="bridge-logo col-md-9 mt-3">
                <!-- <img src="../../assets/img/bridge-logo.png"> -->
                <img src="../../assets/img/newBridgelogo.png" style="width: 15%;">
            </div>
            <div class="bridge-menu col-md-2 mt-10">
                <a routerLink="login" class="register-btn">Login</a>
                <!-- <a routerLink="register"class="register-btn">Register</a> -->
            </div>
        </div>
    </div>
</nav>


<section class="bridge-bann-sec pt-20">
    <div class="container">
        <div class="row">
            <div class="col-md-7" style="margin-top: 80px;">
                <h1>Grow your business to the next level with the world’s best Sales App</h1>
                <p class="bann-con-para home-para">Connect all your teams and centralize the entire communication in one place with this best-in-class sales app.</p>
                <!-- <a href="" class="install-now-btn">Install Now</a> -->
            </div>
            <div class="col-md-5">
                <div class=""><img src="../../assets/img/bann-img2.png" class="" alt="" style="width: 100%;"></div>
            </div>
        </div>
    </div>


</section>


<section>
    <div class="container text-center are-new">
        <h2>Here is the quick brief of all the extensive feature of this Sales App - BRIDGE</h2>
    </div>
</section>

<section>
    <div class="container" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-5">
                <img src="../../assets/img/sec-1.JPG" style="width: 100%;">
            </div>
            <div class="col-md-7" style="margin-top: 10%;">
                <h1>Quickly manage your calendar</h1>
                <p class="bann-con-para home-para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
        </div>
    </div>
</section>

<section style="background: #fafafa;">
    <div class="container">
        <div class="row">

            <div class="col-md-7" style="margin-top: 15%;">
                <h1>Get Better Data Insights</h1>
                <!-- <p class="bann-con-para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
            </div>
            <div class="col-md-5">
                <img src="../../assets/img/sec-2.JPG" style="width: 100%;">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="../../assets/img/sec-3.JPG" style="width: 100%;">
            </div>
            <div class="col-md-7" style="margin-top: 13%;">
                <h1>Get Instant Notifications</h1>
                <!-- <p class="bann-con-para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 new-rahul-last">
                <div>
                    <img src="../../assets/img/bridge-logo.png">
                    <br>
                    <h2>Get Started with Bridge</h2>
                    <br>
                    <!-- <a href="" class="install-now-btn">Install Now</a> -->
                </div>
            </div>
        </div>
    </div>
</section>



<section style="margin-top: 40px;background-color: #eee; padding: 25px;">
    <div class="text-center">
        <h2>Footer</h2>
    </div>
</section>
