<!-- <section class="thankyou" id="thankyou">
  <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <div class="thankContent">
  <li><img src="./assets/img/ThankYou.png" alt=""></li>
  <h1>Go to Serve</h1>
  <p>Ready to enable Serve? Log in now!</p>
  <a (click)="confirmFun()">Ok</a> &nbsp;&nbsp;&nbsp;
  <a (click)="closeIt()">Cancel</a>
  </div>
  </div>
  </div>
  </div>
  </section> -->

  <div class=content>
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Thank you !</h1>
        <p>Ready to enable Serve? Log in now!</p>
        <button class="go-home" (click)="confirmFun()">Trial
        </button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="go-home" (click)="upgradeIt()" style="
        background: #afaaaa;
        box-shadow: 0 10px 16px 1px rgb(205 205 205);
    ">Upgrade
        </button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="go-home" style="
        background: #fff;
        color: #5892ff;
    " (click)="closeIt()">Cancel
          </button>
      </div>

  </div>
  </div>



  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
