
//second css

.mainmess {
  // text-align: center;
  // padding-top: 16%;
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textmessage {
  text-align: center;
  padding: 0 10px;
  height: calc(100vh - 240px);
  width: 90%;
  margin: auto;
  overflow: scroll;
  scroll-behavior: smooth;

  .paddingbottom {
    padding-bottom: 20px;
    line-height: 25px;
  }

  .right {
    max-width: 95%;
    display: grid;
    grid-template-columns: 50px auto;
    float: right;
    align-items: baseline;

    .chatuser {
      background: #5536DA;
      padding: 3px 7px;
      border-radius: 50%;
      top: 3px;
      position: relative;
    }

    .inputtextmess {
      padding: 6px 20px;
      background: #EFF3FE;
      border-radius: 25px;
      text-align: justify;
      margin-top: 30px;
    }
  }


  .left {
    max-width: 95%;
    display: grid;
    grid-template-columns: 50px auto;
    float: left;

    .chatai {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      border: 1px solid #a5a5a5;
      border-radius: 50%;
      top: 3px;
      position: relative;
    }

    .inputtextmess {
      text-align: justify;
    }
  }
}

.chatSearchArea {


  .inputfld {
    text-align: center;
    margin-bottom: 20px;

    span {
      cursor: pointer;
    }

    input {
      //   width: 970px !important;
      //  justify-content: center;
      //  align-items: center;
      //   padding: 15px 50px;
      //   border-radius: 25px;
      //   border: 1px solid #E5E5E5;
      //   font-size: 12px;
    }
  }
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(269deg, #ff6f61, #6a5acd);
  -webkit-background-clip: text;
  color: transparent;
}

// .figma-navigate-icon {
//   cursor: pointer;
//   display: inline-block;
//   font-size: 24px;
//   margin: 10px;
// }


.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 1000;
}


.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  // border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-weight: 600;

}

.popup-content {
  padding: 1rem;
}


.popup-item h4 {
  // margin: 0 0 0.5rem;
  font-size: 14px;
  font-weight: 500;
}

.clamp-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3em;
  line-height: 1.5em;
  margin: 5px 0;
  color: #666;
}

.popup-item p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #4E4E56;
}

.divider {
  border: none;
  border-top: 1px solid #E0E0E0;
  margin: 10px 0;
}

//6 jan
.chat-container {
  text-align: center;
}

.main-text {
  font-size: 32px;
  // font-weight: ;

  background: linear-gradient(90deg, #8A25B5, #4A79E4);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2s infinite;
}

.sub-text {
  font-size: 16px;
  color: #6c757d;
  /* Light gray */
}

@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.tableview {
  position: relative;
  overflow: hidden;
}

.expand-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: no-repeat center center;
  /* Replace with your icon path */
  background-size: contain;
  cursor: pointer;
  display: none;
  z-index: 1056;
  /* Ensure the icon is above the table */
}

.tableview:hover .expand-icon {
  display: block;
}
// .tableview:hover {
//   background-color: rgba(0, 0, 0, 0.1); /* Gray background on hover */
// }

.tableview.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1100;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.tableview.expanded table {
  flex-grow: 1;
  width: 100%;
  height: auto;
}

.table-overlay {
  position: absolute;
  top: 0;
  left: 95%;
  right: 0;
  bottom: 86%;
 // background: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
  background: white; /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 1000;
  display: none; /* Hidden by default */
  pointer-events: all; /* Allow clicks on overlay */
}


.tableview:hover .table-overlay {
  display: block; /* Show overlay on hover */
}
/* Zoom Button Styles */
.zoom-button {
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  transition: transform 0.2s ease;
}



.zoom-button:hover {
  transform: scale(1.2);
}

/* Expanded Table Styles (unchanged) */
.tableview.expanded table {
  transition: transform 0.3s ease; /* Smooth zooming effect */
}


.figma-navigator-ul12 {
  list-style-type: none;
  padding: 0;
  margin: 0;

  >li {
    position: relative;
    // padding: 12px 16px;
    padding: 12px 9px 12px 9px;
    border-radius: 2px;
    text-align: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    cursor: pointer;

    .figma-navigate-text12 {
      color: var(--left-main-list-txt-color);
      text-align: center;
      font-size: 11px;
      letter-spacing: 0.044px;
      line-height: 16px;
      display: inline-block;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 4px;
      height: 100%;
    }

    &.active {
      background: var(--addons-tabs-active-bg);

      &::before {
        background-color: var(--main-template-bg-color);
      }
    }
  }

}

.hover:hover {
  background-color: #fff ;
  box-shadow: none !important;
}

.logo-circle {
  width: 34px;
  height: 34px;
  background-color: #8D17BF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  // font-weight: ;
  text-transform: uppercase;
}

.figma-recent-activities-container {
  max-height: calc(100vh - 40px);
  /* Adjust the height as needed */
  overflow-y: hidden;
  /* Enables vertical scrolling */
  overflow-x: hidden;
  /* Prevents horizontal scrolling if not needed */
  border: 1px solid #ddd;
  /* Optional: Adds a border for clarity */
  padding: 0px;
  /* Optional: Adds some padding */
}

li:last-child {
  margin-top: 10px;
  /* Adjusts spacing above the last item */
  margin-bottom: 0;
  /* Ensures no extra spacing at the bottom */
}


.related-section {
  margin-top: 20px;
  // border-top: 1px solid #ccc;
  padding-top: 10px;
}

.related-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.related-links {
  display: flex;
  gap: 10px;
}

.related-links .related-item {
  background-color: #f7f7f7;
  padding: 10px 15px;
  //border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.related-links .related-item:hover {
  background-color: #eaeaea;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


//for table
.table-container {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 2px 5px;
  text-align: left;
  font-size: 10px;
  min-width: 120px;
}

th {
  background-color: #f4f4f4;
  // text-transform: uppercase;
  font-size: 10px;
}

tr:nth-child(even) {
  // background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

label {
  // font-size: 12px;
  font-size: 12px;
  text-align: start;
  //font-weight: bold;
  // color: #333;
}

.checkbox {
  margin-top: 10px;
  margin-right: -470px;
  transform: scale(1.5);
  margin-left: -1214px;

  // display: flex;

}

// @media screen and (max-width: 768px) {
//   .checkbox {
//     transform: scale(1.2); /* Adjust scaling for smaller screens */
//     margin-top: 8px;
//     max-width: 250px;
//   }
// }

// @media screen and (max-width: 480px) {
//   .checkbox {
//     transform: scale(1);
//     margin-top: 5px;
//     max-width: 200px;
//   }
// }
.inputtextmess.backgroundgre {
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 8px;
}

.inputtextmess.backgroundgre {
  background: #f9f9f9;
  padding: 5px 10px;
  border-radius: 5px;
  // border: 1px solid rgba(0,0,0,.15);
}

.pre-container {
  padding: 5px 10px;
  /* Optional: Add padding */
  overflow: auto;
  /* Add a scrollbar if content overflows */
  white-space: pre-wrap;
  /* Wrap long lines instead of scrolling horizontally */
  font-family: "Poppins", sans-serif;
  //  background: #f1f1f1;
  margin-bottom: 0px;
  border-radius: 6px;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */


// .loader {
//   width: 26px;
//   aspect-ratio: 2;
//   --_g:  no-repeat radial-gradient(circle closest-side, #0000008c 90%, #0000);
//   background:
//     var(--_g) 0%   50%,
//     var(--_g) 50%  50%,
//     var(--_g) 100% 50%;
//   background-size: calc(100%/3) 50%;
//   animation: l3 1s infinite linear;
// }
// @keyframes l3 {
//   20%{background-position:0%   0%, 50%  50%,100%  50%}
//   40%{background-position:0% 100%, 50%   0%,100%  50%}
//   60%{background-position:0%  50%, 50% 100%,100%   0%}
//   80%{background-position:0%  50%, 50%  50%,100% 100%}

// }


/* HTML: <div class="loader"></div> */
.loader {
  text-align: center;
  width: 30px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #0000008c 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
  33% {
    background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
  }

  50% {
    background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
  }

  66% {
    background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
  }
}

/* HTML: <div class="loader"></div> */

/* HTML: <div class="loader"></div> */


// .loader {
//   width: 15px;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   animation: l5 1s infinite linear alternate;
// }
// @keyframes l5 {
//     0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
//     33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
//     66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
//     100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
// }


.auto-expand {
  width: 100%;
  padding: 15px 35px;
  padding-left: 57px;
  border-radius: 25px;
  border: 1px solid #E5E5E5;
  font-size: 12px;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

.limited-width {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
}

// .bor-mar{
//   border-bottom: 0.5px solid var(--form-modal-input-border-color);
// margin-bottom: 0px!important;
// }

.figma-recent-activities-wrapper1 {
  padding: 5px 6px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-size: 12px;
  letter-spacing: 0.048px;
  color: var(--left-main-list-txt-color);

  .figma-recent-activities-wrap-card1 {
    .figma-recent-activities-wrap-date {
      margin-bottom: 8px;
    }

    .figma-recent-activities-content-detail {
      display: grid;
      // column-gap: 8px;
      column-gap: 10px;
      grid-template-columns: 20px auto 60px;

      .figma-note-ico {
        background-color: var(--stages-default-bg);
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;

        svg {
          * {
            fill: var(--svg-central-color);
          }
        }
      }

      .figma-call-log-ico {
        background-color: var(--call-logs-bg);
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
      }

      .figma-recent-activities-content {
        .figma-recent-activity-head {
          color: var(--txt-color-bl-dark);
          font-size: 14px;
          letter-spacing: 0.014px;
          font-weight: 400;

          .figma-recent-activity-head-bold {
            font-weight: 500;
          }
        }

        .figma-recent-activity-message {
          color: var(--left-main-list-txt-color);
          letter-spacing: 0.048px;
        }

        .figma-recent-reminder-wrap {
          font-size: 12px;
          letter-spacing: 0.048px;
          color: var(--left-main-list-txt-color);

          .figma-recent-reminder {
            color: var(--reminder-bg);
          }
        }
      }

      .figma-recent-activity-time {
        color: #959597;
        font-size: 12px;
        letter-spacing: 0.048px;
      }

      .figma-recent-activity-time-tags {
        display: flex;
        flex-direction: column;
        align-items: end;


        .figma-recent-act-hr-dots {
          svg {
            * {
              fill: var(--svg-central-color);
            }
          }
        }
      }
    }

    .figma-recent-activities-content-detail-new21 {
      display: grid;
      column-gap: 10px;
      padding: 6px 10px;
      line-height: 23px;
      border-radius: 0px;
      border-bottom: 1px solid var(--form-modal-input-border-color);
      grid-template-columns: auto;
      cursor: pointer;

      .fa-user {
        color: #909092;
        background: #f5f5f5;
        padding: 6px;
        margin-bottom: 6px;
        margin-right: 6px;
        font-size: 10px;
        line-height: 10px;
        border-radius: 50%;
      }

      .fa-phone {
        color: #fff;
        background: #219653;
        padding: 6px;
        margin-bottom: 6px;
        margin-right: 6px;
        font-size: 8px;
        line-height: 8px;
        border-radius: 50%;
      }

      .fa-envelope {
        color: #fff;
        background: #4a79e4;
        padding: 6px;
        margin-right: 6px;
        font-size: 10px;
        line-height: 10px;
        border-radius: 50%;
      }

      .figma-recent-activities-content {
        .figma-recent-activity-head {
          color: var(--txt-color-bl-dark);
          font-size: 12px;
          grid-template-columns: auto;
          letter-spacing: 0.014px;
          display: grid;
          font-weight: 400;
        }
      }
    }
  }
}


.figma-navigate-icon {
  margin-bottom: 0px;
}

.figma-recent-activities-content-detail-new21:hover {
  background: #EDEDED;
  border-radius: 6px !important;
  border-bottom: 1px solid #fff;
}

.iscofoote {
  margin-top: 10px;
  display: grid;
  float: left;
  text-align: center;
  grid-template-columns: 30px 30px 30px 30px 30px;
}

.tableview {
 // max-height: 300px;
  overflow: scroll;
  margin-top: 10px;
}



.force-overflow {
  height: 50px;
  overflow-y: auto;
  transition: all 0.6ms;

  visibility: hidden;

}

.scrollbox-content,
.force-overflow:hover,
.force-overflow:focus {
  visibility: visible;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  background-color: #9d9d9d;
}





/*  follow up css start */
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.spilit_view {
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

.education {
  width: 100%;
  height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
}

.education__heading {
  padding-inline-start: 4rem;
}

.education__heading h4 {
  font-size: 2rem;
  margin-block: 0.5rem;
}

.education__content {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 4rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.education__content h5 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.8rem;
  margin-block: 0;
}

.education__content p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0;
}

.education__content .year {
  position: absolute;
  content: var(--year);
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: white;
  border-radius: 50%;
  background-color: #b3b3b3;
  box-shadow: inset 0 0 0 1px white;
  border: 1px solid #b3b3b3;
  left: 1rem;
  top: 0.74rem;
}

.education__content:hover {
  background-color: rgba(230, 230, 230, 0.48);
  border-radius: 0.25rem;
}

.education__content:not(:last-child):before {
  position: absolute;
  content: "";
  width: 4px;
  background-color: #dedede;
  left: calc(2rem - 2px);
  top: 2.74rem;
  bottom: -0.74rem;
  z-index: 0;
}

.education__content i {
  font-size: 16px;
}

/* follow up css end */

.bg-green {
  background: #47c758 !important;
}

.bg-blue {
  background: #4a79e4 !important;
}

.bg-blue2 {
  background: #113fac !important;
}

.bg-orange {
  background: #f3b323 !important;
}


.bg-red {
  background: #d93025 !important;
}

.hover-show {
  background-color: #fff;
  position: absolute;
  right: 50px;
  top: 25px;
  color: #4a79e4;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 12px;
  padding: 10px 15px;
}

.hover-show span {
  margin: 2px 0px;
  display: block;
  line-height: 22px;
}

.addfollowup {
  background: #2058D8;
  color: white !important;
  height: 35px;
  font-weight: 500;
  font-size: 11px;
  border-radius: 6px;
  line-height: 18px;
  padding: 7px 8px;
  min-width: 63px;
}

.notes-container {
  border-bottom: none !important;
}

.notes-container li a {
  border: none !important;
  font-weight: 600 !important;
  color: #333333 !important;
}

.notes-container li a.active {
  border-bottom: 3px solid #2058D8 !important;
  color: #2058D8 !important;
}

.em-search-wrapper.active {
  background-color: #ecedef;
}

/* Assign To css Close */
.messagebox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 2px;
}

.add_btn {
  margin-top: 1px;
  padding: 2px 10px;
  background-color: #055a8c;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  float: left;
}

.cancel_btn {
  margin-top: 1px;
  background-color: red;
  padding: 2px 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  float: left;
}

.remark-font-size {
  font-size: 12px;
  height: 40px;
}

/*
 *  STYLE 1
 */

.force-overflow {
  height: 220px;
  overflow-y: auto;
  transition: all 0.6ms;

  visibility: hidden;

}

.scrollbox-content,
.force-overflow:hover,
.force-overflow:focus {
  visibility: visible;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  background-color: #9d9d9d;
}


/*  follow up css start */
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.spilit_view {
  width: 100%;
  height: 500px;
  overflow-y: auto;
}

.education {
  width: 100%;
  height: 430px;
  overflow-y: auto;
  overflow-x: hidden;
}

.education__heading {
  padding-inline-start: 4rem;
}

.education__heading h4 {
  font-size: 2rem;
  margin-block: 0.5rem;
}

.education__content {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 4rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.education__content h5 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.8rem;
  margin-block: 0;
}

.education__content p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0;
}

.education__content .year {
  position: absolute;
  content: var(--year);
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: white;
  border-radius: 50%;
  background-color: #b3b3b3;
  box-shadow: inset 0 0 0 1px white;
  border: 1px solid #b3b3b3;
  left: 1rem;
  top: 0.74rem;
}

.education__content:hover {
  background-color: rgba(230, 230, 230, 0.48);
  border-radius: 0.25rem;
}

.education__content:not(:last-child):before {
  position: absolute;
  content: "";
  width: 4px;
  background-color: #dedede;
  left: calc(2rem - 2px);
  top: 2.74rem;
  bottom: -0.74rem;
  z-index: 0;
}

.education__content i {
  font-size: 16px;
}

/* follow up css end */

.bg-green {
  background: #47c758 !important;
}

.bg-blue {
  background: #4a79e4 !important;
}

.bg-blue2 {
  background: #113fac !important;
}

.bg-orange {
  background: #f3b323 !important;
}


.bg-red {
  background: #d93025 !important;
}

.hover-show {
  background-color: #fff;
  position: absolute;
  right: 50px;
  top: 25px;
  color: #4a79e4;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 12px;
  padding: 10px 15px;
}

.hover-show span {
  margin: 2px 0px;
  display: block;
  line-height: 22px;
}

.addfollowup {
  background: #2058D8;
  color: white !important;
  height: 35px;
  font-weight: 500;
  font-size: 11px;
  border-radius: 6px;
  line-height: 18px;
  padding: 7px 8px;
  min-width: 63px;
}

.notes-container {
  border-bottom: none !important;
}

.notes-container li a {
  border: none !important;
  font-weight: 600 !important;
  color: #333333 !important;
}

.notes-container li a.active {
  border-bottom: 3px solid #2058D8 !important;
  color: #2058D8 !important;
}

.em-search-wrapper.active {
  background-color: #ecedef;
}

/* Assign To css Close */
.messagebox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 2px;
}

.add_btn {
  margin-top: 1px;
  padding: 2px 10px;
  background-color: #055a8c;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  float: left;
}

.cancel_btn {
  margin-top: 1px;
  background-color: red;
  padding: 2px 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  float: left;
}

.remark-font-size {
  font-size: 12px;
  height: 40px;
}

/*
 *  STYLE 1
 */

.force-overflow {
  height: 220px;
  overflow-y: auto;
  transition: all 0.6ms;

  visibility: hidden;

}

.scrollbox-content,
.force-overflow:hover,
.force-overflow:focus {
  visibility: visible;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #f4f7fe;
  background-color: #9d9d9d;
}

//insight
.popup-container {
  position: fixed;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  transform: translate(-50%, -50%);
  overflow: hidden;
}




.popup-header span {
  //font-weight: bold;
  font-size: 16px;
}


.close-btn {
  background: none;
  display: flex ;
  justify-content: end;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.popup-content {
  padding: 10px 15px;
  max-height: 400px;
  overflow-y: auto;
}

.popup-item {
  margin-bottom: 10px;
}

.clamp-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  margin: 10px 0;
  border: 0;
  height: 1px;
  background-color: #ddd;
}
.popup-container {
  position: fixed;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
}


//
.insights-popup {
  position: fixed;
  right: 130px;
  top: 89px;
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.popup-header span {
  font-weight: bold;
  font-size: 18px;
}


.popup-body {
  max-height: 500px;
  overflow-y: auto;
  padding: 15px;
}

.insights-section {
  margin-bottom: 20px;
}

.section-title {
  // font-weight: bold;
  font-weight: 400;
  // padding-left: 10px;
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
  background-color:#F6F6F6;
  padding: 5px 0px 5px 15px;
  height: 30px;
}

.insight-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.icon-container {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.icon-container img {
  width: 100%;
  height: auto;
}

.content h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.content p {
  margin: 5px 0;
  font-size: 13px;
  color: #555;
}

.content small {
  font-size: 12px;
  color: #999;
}
//notification
.notification-popup {
  position: fixed;
  right: 94px;
  top: 88px;
  width: 419px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.popup-header span {
  font-weight: bold;
  font-size: 18px;
}

.see-all-link {
  font-size: 14px;
  color:#4A79E4;
  text-decoration: none;
  font-weight: 400;

}

// .see-all-link:hover {
//   text-decoration: underline;
// }



.notification-popup-body{
  max-height: 500px;
  overflow-y: hidden;
}

// .notification-section {
//   // margin-bottom: 20px;
//   // border-bottom: 0.5px solid #b9b9b9;
// }

.notification-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  border-bottom: 0.5px solid #e1e1e1;
  padding: 10px;
}

.notification-item:last-child{
  border: none;
}




.icon-container {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.icon-container img {
  width: 100%;
  height: auto;
}

.content h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.content small {
  font-size: 12px;
  color: #999;
}

.notification-time{
  font-size: 10px;
  color: #757575 !important;
  white-space: nowrap;

}
.notification-desc{
  color: #292929 !important;
  margin-right: 10px !important;
  // width: 350px;

}

.popup-inner-heading{
  background-color:#F6F6F6;padding: 5px 0px 5px 15px; height: 30px;
}

.close-btn-color{
  color: #A1A1A0 !important;
  padding-left: 30px;

}
.bg-white{
  background-color: #ffffff;
}
.figma-detial-home-sec-spliter .figma-left-main-container{
  overflow: hidden !important;
}

.figma-detial-home-sec-spliter .figma-recent-activities-container .figma-recent-activities-header{
  padding: 10px 20px;
}
.figma-recent-activities-wrapper1{
  padding: 5px 16px;
}

.hover-show1 {
  background-color: #fff;
  position: absolute;
  left: 20%;
  top: 55%;
  color: #4a79e4;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 12px;
  padding: 10px 15px;
  z-index: 1000; /* Ensure it appears on top */
}
.table-v-dots {
  cursor: pointer;
}
