<section class="home-section" appLeftMenuNavbar>
    <app-header></app-header>
    <div class="home-content">
        <div class="custom-search-container">
            <p class="custom-search-head-name">User Management</p>
            <div class="custom-search-wrapper">
                <!-- <div ngbDropdown class="custom-common-search-container">
                    <div class="custom-search-ico-input-container">
                        
                        <input type="text" name="" id="" placeholder="Search" [(ngModel)]="searchValue"
                            (keyup.enter)="RowPerPage()">
                        <span [innerHTML]="'figma-modal-close2' | svgIcons:''" class="new-search-cross"
                            (click)="emptySeach()" *ngIf="searchValue != ''"></span>
                        <button type="button" class="new-search-btn" (click)="RowPerPage()"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <button type="button" class="custom-com-temp-btn" (click)="open(mymodal,false,'')"><span
                            class="custom-sp-plus-ft-sz">+</span> Add</button>
                </div> -->
            </div>
        </div>
        <div class="sales-boxes">
            <div class="recent-sales UserManagement">
                <!-- <div class="sales-details">
                    <div class="custom-outter-body-lead-list-c9">
                        <div class="custom-table-select-icons">
                            <span [innerHTML]="'figma-table-refresh' | svgIcons:'figma-template-central'"
                                (click)="reload()"></span>
                        </div>
                    </div>
                </div> -->
                <hr style="margin-bottom: 4px; margin-left: 6px;">
                <!-- <table class="new-tabl"> -->
                    <table _ngcontent-exm-c134 id="table-data" class="new-tabl">
                    <!-- <ng-container *ngIf="!isLoading2"> -->
                    <thead class="MainUserList" style="top: -5px !important;">
                    
                        <tr>
                            <!-- <th class="CheckBoxWidthFix"><input id="selectAll1" type="checkbox" (click)="selectAll1()">
                            </th> -->
                            <th >Name</th>
                            <!-- <th > User</th> -->
                            <th > Edit</th>
                        </tr>
                    </thead>

                    <tr class="hover" *ngFor="let role of UserRole">
                        <!-- <td><input type="checkbox" id="checkbox{{item.id}}" value="{{item.id}}" class="checkbox"
                                (click)="checkboxclick(item.id)"></td>
                        <td>{{item.id}}</td> -->
                        <td>{{role.Name}}</td>
                        <!-- <td></td> -->
                        <td class="ActiveBTN rounded-pill badge-success" routerLink="/access-modules-list/{{role.id}}"> <i class="fa fa-pencil"></i>&nbsp;Edit</td>
                            
                    </tr>
                    <!-- </ng-container> -->

                </table>

                <div class="LoderGifHere" *ngIf="isLoading2">
                    <img src="../../assets/img/loder.gif">
                </div>
            </div>

        </div>

        <!-- <div class="figma-pagination-controls">
            <div class="figma-pagination-rows-total">
                <div class="figma-rows-per-page">
                    <div class="figma-rows-per-page-label">Row per page</div>
                    <ng-select [items]="['10','20','50','100','All']" class="figma-row-per-page-ng-select"
                        [(ngModel)]="pagination.maxItem" (change)="RowPerPage()"></ng-select>
                    <div class="figma-rows-per-page-total">Total {{startind}}-{{endind}} of {{totalCount}}</div>
                </div>
                <ngb-pagination [collectionSize]="totalCount" [pageSize]="pagination.PageShow"
                    (pageChange)="pageChanged($event)" [(page)]="pagination.PageNo" [maxSize]="5" [rotate]="true"
                    [boundaryLinks]="false" class="figma-pagination">
                    <ng-template ngbPaginationPrevious><i class="fa-solid fa-chevron-left"></i> Prev</ng-template>
                    <ng-template ngbPaginationNext>Next <i class="fa-solid fa-chevron-right"></i></ng-template>
                </ngb-pagination>
            </div>
        </div> -->
    </div>
</section>