.sidebar .nav-links li a{
    font-size: 14px;
}




.showNoti {
    cursor: pointer;
  }

  .showall {
    font-size: 12px;
  }

  .showall:hover {
    color: #4a79e4;
  }

  .class3 {
    display: none;
  }

  .bg-green-bg {
    background-color: #d0ddf833;
    display: none;
  }
  a:hover {
    color: #4A79E4 !important;
}
  .dropdown-container2{display: none;}



/* Socket notification */
.notification {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: -360px; /* Start hidden outside the screen */
  width: 350px;
  padding: 10px 20px;
  background-color: #252526; /* Green */
  color: #dddddd;
  border-radius: 1px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s; /* Animation */


  #close-btn{
    border: none;
    outline: none;
    font-size: 11px;
    padding: 2px 5px;
    background: #5076cb;
    margin-left: 10%;
    color: #dddddd;
    margin-top: 10px;
  }
}

.notification.show {
  right: 20px; /* Slide in position */
}

.notification p{
  margin-bottom: 5px;
}
