
<!-- <app-left-menu></app-left-menu> -->

<section class="home-section" appLeftMenuNavbar>
  <app-header></app-header>
  <div class="home-content">


    <div class="sales-boxes">
      <div class="recent-sales box">
        <div class="recent-heading cursor-pointer mb-2" style="color:#4a79e4;">
          <strong><i class="fa-solid fa-arrow-left-long" (click)="backClicked()"></i> {{Headingss[0].heading101}} {{Headingss[0].leftheading}}</strong>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form #f="ngForm" name="theForm" (submit)="addTarget(f)">
              <div class="lead-update-container">
                <div class="lead-update-wrapper">
                  <label class="label-mark-inner">Department</label>
                  <div>

                    <input required class="input-fld required-fld" [(ngModel)]="addTar.Department" name="Department" placeholder="Department" #TargetFor=ngModel>
                    <span class="help-block danger" *ngIf="TargetFor.errors?.required && TargetFor.touched"> The Target Department is required </span>
                  </div>
                </div>
                <div class="lead-update-wrapper">
                  <label>{{Headingss[0].SubHeading}} () </label>
                  <div>
                    <input type="text" class="input-fld required-fld" name="YearTarget" placeholder="{{Headingss[0].SubHeading}}" autocomplete="off" required [(ngModel)]="addTar.YearTarget" #YearTarget="ngModel"><br>
                    <span class="help-block danger" *ngIf="YearTarget.errors?.required && YearTarget.touched">
                      The Target Year Amount is required
                    </span>
                  </div>
                </div>
                <div class="lead-update-wrapper">
                  <label>Start Year</label>
                  <div>
                    <ng-select #selectStartY [clearOnBackspace]="false" [searchable]="false" (change)="setEndyear($event)" [(ngModel)]="addTar.StartYear" name="StartYear" #StartYear=ngModel required class="ngsearch-dropdown input-fld required-fld">
                      <ng-template ng-header-tmp>
                        <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search"
                          type="text" (input)="selectStartY.filter($event.target.value)" />
                      </ng-template>
                      <ng-option value="" disable selected>Select Start Year</ng-option>
                      <ng-option value="{{year}}" *ngFor="let year of TargetYear">{{year}}</ng-option>
                    </ng-select>

                    <!-- <select required class="input-fld required-fld" (change)="setEndyear($event)" [(ngModel)]="addTar.StartYear" name="StartYear" #StartYear=ngModel>
                      <option value="" selected disabled>Choose Select</option>
                      <option value="{{year}}" *ngFor="let year of TargetYear">{{year}}</option>

                    </select> -->
                    <span class="help-block danger" *ngIf="(StartYear.errors?.required && f.submitted)||(StartYear.errors?.required && StartYear.touched)">
                      The Start Year is required
                    </span>
                  </div>
                </div>
                <div class="lead-update-wrapper">
                  <label>End Year</label>
                  <div>
                    <input required class="input-fld required-fld" [(ngModel)]="addTar.EndYear" name="EndYear" #EndYear=ngModel readonly>
                    <span class="help-block danger" *ngIf="EndYear.errors?.required && EndYear.touched">
                      The End Year is required
                    </span>
                  </div>
                </div>
              </div>
              <div style="text-align: center;" *ngIf="isLoading">
                <img src="../../assets/img/loder.gif" style="height: 100%;width: 10%;">
              </div>
              <div class="col-12 text-center" *ngIf="!isLoading">
                <button class="add-invent btn btn-sm">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>




</section>

<div class="alert alert-primary success-box alert-dismissible fade show" role="alert">
  Business Partner Added Successfully !
</div>

