.shareLocationbtn{
  padding: 10px 13px;
  background-color: #4a79e4;
  color: #fff;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
}

agm-map {
  height: 500px;
}

.em-search-wrapper {
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 20px;
  gap: 20px;
}