<!-- <app-left-menu>
</app-left-menu> -->


<section class="home-section" appLeftMenuNavbar>
  <app-header></app-header>
  <div class="home-content">
    <div class="custom-search-container">
      <p class="custom-search-head-name">Leads Management</p>
      <div class="custom-search-wrapper">
        <div ngbDropdown class="custom-common-search-container">
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary custom-action-btn" id="dropdownBasic1"
                  ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>
                    <input type="file" ngbDropdownItem (change)="onFileChange($event)" multiple="false"
                      class="custom-file-input1" style="float: left;" />

                    <i title="Download Excel" onclick="window.location.href = '../../assets/lead_import.xlsx'"
                      class="fa-solid fa-download download-icon cursor-pointer importfileicon"></i>
                  </button>
                  <button ngbDropdownItem routerLink="/leads/table">
                    <span>
                      <span [innerHTML]="'table-view' | svgIcons:''"></span>
                      &nbsp; &nbsp; Table</span>
                  </button>
                  <button ngbDropdownItem routerLink="/leads/split">
                    <span>
                      <span [innerHTML]="'split-view' | svgIcons:''"></span>
                      &nbsp; &nbsp; {{Headingss[0].SubHeading3}}</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="custom-action-btn openbtn" (click)="openNav()"><i
              class="fa fa-filter openbtn"></i> Filter</button>
          <ng-template #filter>Filter</ng-template>
          <div class="custom-search-ico-input-container">
            <!-- <span [innerHTML]="'search-icon' | svgIcons:''" class="custom-search"></span> -->
            <input type="text" name="" id="" placeholder="Search" [(ngModel)]="searchValue"
              (keyup.enter)="RowPerPage()">
            <span [innerHTML]="'figma-modal-close2' | svgIcons:''" class="new-search-cross" (click)="emptySeach()"
              *ngIf="searchValue != ''"></span>
            <button type="button" class="new-search-btn" (click)="RowPerPage()"><i
                class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <button type="button" class="custom-com-temp-btn" (click)="open(mymodal)" *ngIf="isModuleViewadd(1)"><span
              class="custom-sp-plus-ft-sz">+</span> Add</button>

        </div>
      </div>
    </div>
    <div class="sales-boxes">
      <div class="recent-sales box">


        <div class="sales-details overflow-visible">

          <!--- step start-->


          <div class="control-section e-tab-section">
            <div class="e-sample-resize-container">
              <!-- | leadstatusfilter:status | leadtypefilter: assignedTo | leadcatefilter:source | leadpriority:leadpriority | leadgenerated:leadgenerated -->
              <ejs-kanban keyField='status' #headerText [dataSource]='selectedData' [cardSettings]='cardSettings'
                (dialogOpen)="onOpen($event)" (dragStop)='onKanbanBDragStop($event)'>
                <e-columns>
                  <!-- <e-column headerText='Junk' keyField='Junk' allowToggle='true' [isExpanded]='isExpanded'></e-column> -->
                  <e-column headerText='New' keyField='New' allowToggle='true'></e-column>
                  <e-column headerText='Follow Up' keyField='Follow Up' allowToggle='true'></e-column>
                  <e-column headerText='Hold' keyField='Hold' allowToggle='true'></e-column>
                  <e-column headerText='Qualified' keyField='Qualified' allowToggle='true'></e-column>
                </e-columns>
                <ng-template #cardSettingsTemplate #content let-selectedData>
                  <div class="kanban-card-container">
                    <div class="kanban-card-wrapper">
                      <div class="kanban-card-content">
                        <span class="kanban-card-title">{{selectedData.companyName}}</span>
                        <span class="kanban-card-contact">
                          <i class="fa fa-user kanban-card-user"></i> {{selectedData.contactPerson.trim()}}</span>
                        <span class="kanban-card-phone">
                          <i class="fa fa-phone"></i>
                          {{selectedData.phoneNumber.trim()}}
                        </span>
                      </div>
                      <div class="kanban-card-controls">
                        <i class="icon-holder cursor fa fa-exclamation kanban-card-exclamation"
                        (mouseleave)="mouseLeaveMessage1(selectedData)"
                        (mouseenter)="mouseEnterMessage1(selectedData)" (click)="mouseEnterMessage(selectedData)">
                      </i>
                      <div class="messagebox border border-1 bg-white messageContainer{{selectedData.id}}"
                      style="display: none ">
                      <form #f="ngForm" name="theForm" (submit)="editLeads(f)">
                        <div class="w-100">
                          <textarea rows="2" cols="1" placeholder="Remark" name="message" #message="ngModel"
                            [(ngModel)]="editbridges.message" class="form-control border-0 remark-font-size"
                            required></textarea>
                          <span class="help-block danger kanbanremark_alignment"
                            *ngIf="(message.errors?.required && f.submitted)||(message.errors?.required && f.touched)">
                            Remark is required
                          </span>
                          <input type="submit" class="add_btn" value="Add" />

                        </div>
                      </form>
                      <button class="cancel_btn" (click)="hidetextbox(selectedData.id)">
                        <span [innerHTML]="'cancel' | svgIcons:''"></span>
                      </button>
                    </div>
                      <div style="background-color: #4A79E4; color:#fff;" class="messagebox-remark border border-1 p-1 remarg-bg messageContainer1{{selectedData.id}}" style="display: none ">
                              <span class="w-100 text-start">
                                <p [innerHTML]="LeadFoolwupdata || 'No Message Found'"></p>
                              </span>
                            </div>
                        <span class="d-block cursor edit-delete{{selectedData.id}}"
                          (click)="editdeletepop(selectedData)" [innerHTML]="'table-h-dots' | svgIcons:''"
                          class="table-v-dots"></span>
                        <div class="hover-show  text-start hover-show{{selectedData.id}}" style="display:none;">
                          <span (click)="openEdit(contentEdit, selectedData)" *ngIf="isModuleViewedit(1)"> Edit
                            Lead</span>
                          <span (click)="AssignTo(assignTO ,selectedData)"> Assign To</span>
                          <span (click)="deleteLeads(selectedData.id? selectedData.id:0)">
                            Suspend Lead</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class='e-card-content'>


                    <div class="card-body p-2">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="text-start" style="cursor:pointer; width:80%;"
                          routerLink="/leads/table/lead-details/{{selectedData.id}}">
                          <p class="fw-600 mb-0"> {{selectedData.companyName}}</p>
                          <p class="mb-0"><i class="fa fa-user"></i> {{selectedData.contactPerson}}</p>
                          <a>
                            <span [innerHTML]="'phone' | svgIcons:''">

                            </span>
                            {{selectedData.phoneNumber}}
                          </a>
                        </div>

                        <div class="text-center">

                          <span class="d-block cursor edit-delete{{selectedData.id}}"
                            (click)="editdeletepop(selectedData)" [innerHTML]="'table-h-dots' | svgIcons:''"
                            class="table-v-dots"></span>
                          <div class="hover-show  text-start hover-show{{selectedData.id}}" style="display:none;">
                            <span (click)="openEdit(contentEdit, selectedData)"> Edit
                              Lead</span>
                            <span (click)="AssignTo(assignTO ,selectedData)"> Assign To</span>
                            <span (click)="deleteLeads(selectedData.id? selectedData.id:0)">
                              Suspend Lead</span>

                          </div>
                          <p></p>
                          <span>
                            <div class="icon-holder cursor " [innerHTML]="'info-icon' | svgIcons:''"
                              (mouseleave)="mouseLeaveMessage1(selectedData)"
                              (mouseenter)="mouseEnterMessage1(selectedData)" (click)="mouseEnterMessage(selectedData)">

                            </div>

                            <div style="background-color: #4A79E4; color:#fff;"
                              class="messagebox-remark border border-1 p-1 remarg-bg messageContainer1{{selectedData.id}}"
                              style="display: none ">
                              <span class="w-100 text-start">
                                <p [innerHTML]="LeadFoolwupdata || 'No Message Found'"></p>

                              </span>
                            </div>

                            <div class="messagebox border border-1 bg-white messageContainer{{selectedData.id}}"
                              style="display: none ">
                              <form #f="ngForm" name="theForm" (submit)="editLeads(f)">
                                <div class="w-100">
                                  <textarea rows="2" cols="1" placeholder="Remark" name="message" #message="ngModel"
                                    [(ngModel)]="editbridges.message" class="form-control border-0 remark-font-size"
                                    required></textarea>
                                  <span class="help-block danger kanbanremark_alignment"
                                    *ngIf="(message.errors?.required && f.submitted)||(message.errors?.required && f.touched)">
                                    Remark is required
                                  </span>
                                  <input type="submit" class="add_btn" value="Add" />

                                </div>
                              </form>
                              <button class="cancel_btn" (click)="hidetextbox(selectedData.id)">
                                <span [innerHTML]="'cancel' | svgIcons:''"></span>
                              </button>
                            </div>
                          </span>
                        </div>
                      </div>

                    </div>

                  </div> -->
                </ng-template>
              </ejs-kanban>
              <div style="
              height: 280px;
              color: #2058d8;
              font-size: 18px;
              margin-top: 200px;
              text-align: center;
          " *ngIf="nodetaildata == true">No Data Found</div>
              <div id="noDataFound">
                <span class="d-flex justify-content-center"
                  style="text-align: center;font-size: 20px;color: #4A79E4;">No Data Found</span>
              </div>

            </div>
          </div>

          <div class="LoderGifHere" *ngIf="isLoading">
            <img src="../../assets/img/loder.gif">
          </div>
        </div>
        <!-- <app-phone></app-phone> -->
        <!-- <div class="border-top">
          <a href="#" class="text-decoration-none text-dark fw-bold py-3 d-block"><i class="fa fa-phone" aria-hidden="true"></i> Phone</a>
        </div> -->
      </div>

    </div>
  </div>
</section>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title modal-heading" id="modal-basic-title">{{Headingss[0].heading101}} {{Headingss[0].leftheading}}</h4>
    <button type="button" class="close clos-pop-btn" aria-label="Close" (click)="modal.dismiss('Cross click')"
      style="outline: none;">
      <span aria-hidden="true" style="outline: none;">×</span>
    </button>
  </div>
  <!-- <div *ngIf="error">{{error}}</div> -->
  <!-- <div *ngIf="success">{{success}}</div> -->
  <form #f="ngForm" name="theForm" (submit)="addLeads(f)">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6" >
          <label>{{Headingss[0].heading1}} </label>
          <input type="text" class="input-fld required-fld" name="companyName" [(ngModel)]="bridges.companyName"
            #companyName="ngModel" placeholder="Enter {{Headingss[0].heading1}}" required>
          <span class="help-block danger" *ngIf="(companyName.errors?.required && f.submitted)||(companyName.errors?.required && companyName.touched)">
            The {{Headingss[0].heading1}} is required
          </span>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading2}}  </label>
          <input type="text" class="input-fld required-fld" name="contactPerson" [(ngModel)]="bridges.contactPerson"
            #contactPerson="ngModel" placeholder="Enter {{Headingss[0].heading2}}" required>
          <span class="help-block danger" *ngIf="(contactPerson.errors?.required && f.submitted)||(contactPerson.errors?.required && contactPerson.touched)">
            The {{Headingss[0].heading2}} is required
          </span>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'designation')">
          <label>{{Headingss[0].heading4}}</label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'designation')" name="designation" [(ngModel)]="bridges.designation"
            #designation="ngModel" placeholder="Enter {{Headingss[0].heading4}}" [class.disable-fld]="!isModulefieldedit(1, 'designation')" [disabled]="!isModulefieldedit(1, 'designation')" [required]="HeadingServices.isModulefieldMendetory(1, 'designation')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'designation')">
              <span class="help-block danger"
                *ngIf="(designation.errors?.required && f.submitted)||(designation.errors?.required && designation.touched)">
                The {{Headingss[0].heading4}} is required
              </span>
            </ng-container>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading3}}  </label>
          <input type="number" class="input-fld required-fld" name="phoneNumber" [(ngModel)]="bridges.phoneNumber" ngModel
            #phoneNumber="ngModel" placeholder="Enter {{Headingss[0].heading3}}" maxlength="15" pattern="^((\\+91-?)|0)?[0-9]{7,15}$" required>
          <span class="help-block danger" *ngIf="(phoneNumber.errors?.required && f.submitted)||(phoneNumber.errors?.required && phoneNumber.touched)">
            The {{Headingss[0].heading3}} is required
          </span>
          <span class="help-block danger" *ngIf="phoneNumber.errors?.pattern && phoneNumber.touched">
            Invalid {{Headingss[0].heading3}}
          </span>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'email')">
          <label>{{Headingss[0].heading5}}</label>
          <input type="email" email="true" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'email')" name="email" [(ngModel)]="bridges.email" #email="ngModel"
            placeholder="Enter {{Headingss[0].heading5}}" [class.disable-fld]="!isModulefieldedit(1, 'email')" [disabled]="!isModulefieldedit(1, 'email')"  [required]="HeadingServices.isModulefieldMendetory(1, 'email')">
          <span class="help-block danger" *ngIf="email.errors?.email && email.touched">
            Invalid {{Headingss[0].heading5}}
          </span>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'email')">
            <span class="help-block danger"
              *ngIf="(email.errors?.required && f.submitted)||(email.errors?.required && email.touched)">
              The {{Headingss[0].heading5}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'location')">
          <label>{{Headingss[0].heading6}}</label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'location')" name="location" [(ngModel)]="bridges.location" #location="ngModel"
            placeholder="Enter {{Headingss[0].heading6}}" [class.disable-fld]="!isModulefieldedit(1, 'location')" [disabled]="!isModulefieldedit(1, 'location')" [required]="HeadingServices.isModulefieldMendetory(1, 'location')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'location')">
              <span class="help-block danger"
                *ngIf="(location.errors?.required && f.submitted)||(location.errors?.required && location.touched)">
                The {{Headingss[0].heading6}} is required
              </span>
            </ng-container>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading7}}  </label>
          <ng-select #selectsource [clearOnBackspace]="false" [searchable]="false" name="source" [(ngModel)]=bridges.source #source="ngModel" required
            class="ngsearch-dropdown input-fld required-fld">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selectsource.filter($event.target.value)" />
            </ng-template>
            <ng-option value="" disable selected>Select {{Headingss[0].heading7}} </ng-option>
            <ng-option value="{{item1.Name}}" *ngFor="let item1 of source1">{{item1.Name}}</ng-option>
          </ng-select>
          <span class="help-block danger" *ngIf="(source.errors?.required && f.submitted)||(source.errors?.required && source.touched)">
            The {{Headingss[0].heading7}}  is required
          </span>
        </div>

        <div class="col-md-6" *ngIf="bridges.source == 'Campaign'">
          <label>Campaign  Name</label>
          <ng-select #selectsource [clearOnBackspace]="false" [searchable]="false" name="campaign1" [(ngModel)]="bridges.campaign"
            class="ngsearch-dropdown input-fld required-fld">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selectsource.filter($event.target.value)" />
            </ng-template>
            <ng-option value="" disable selected>Select Campagn </ng-option>
            <ng-option  value="{{item1.CampaignSetName}}" *ngFor="let item1 of CampaigNameList">{{item1.CampaignSetName}}</ng-option>
          </ng-select>
          <span class="help-block danger" *ngIf="(source.errors?.required && f.submitted)||(source.errors?.required && source.touched)">
            The Campaign  is required
          </span>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'productInterest')">
          <label>{{Headingss[0].heading8}} </label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'productInterest')" name="productInterest" [(ngModel)]="bridges.productInterest"
            #productInterest="ngModel" placeholder="Enter {{Headingss[0].heading8}}" [class.disable-fld]="!isModulefieldedit(1, 'productInterest')" [disabled]="!isModulefieldedit(1, 'productInterest')" [required]="HeadingServices.isModulefieldMendetory(1, 'productInterest')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'productInterest')">
              <span class="help-block danger"
                *ngIf="(productInterest.errors?.required && f.submitted)||(productInterest.errors?.required && productInterest.touched)">
                The {{Headingss[0].heading8}} is required
              </span>
            </ng-container>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'numOfEmployee')">
          <label>{{Headingss[0].heading9}}</label>
          <input type="number" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'numOfEmployee')" name="numOfEmployee" [(ngModel)]="bridges.numOfEmployee"
            #numOfEmployee="ngModel" min="0" placeholder="Enter {{Headingss[0].heading9}}"  pattern="^[0-9]*$" [class.disable-fld]="!isModulefieldedit(1, 'numOfEmployee')" [disabled]="!isModulefieldedit(1, 'numOfEmployee')" [required]="HeadingServices.isModulefieldMendetory(1, 'numOfEmployee')">
          <span class="help-block danger" *ngIf="numOfEmployee.errors?.pattern && numOfEmployee.touched">
            Take Numeric Value only
          </span>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'numOfEmployee')">
            <span class="help-block danger"
              *ngIf="(numOfEmployee.errors?.required && f.submitted)||(numOfEmployee.errors?.required && numOfEmployee.touched)">
              The {{Headingss[0].heading9}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'turnover')">
          <label>{{Headingss[0].heading10}}</label>
          <div class="newrupe">
            
            <span class="span10">{{'' | priceFormat:''}}</span>
          <input type="number" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'turnover')" name="Turnover" [(ngModel)]="bridges.turnover" #turnover="ngModel"
            placeholder="Enter {{Headingss[0].heading10}}" min="0" pattern="^[0-9]*$" [class.disable-fld]="!isModulefieldedit(1, 'turnover')" [disabled]="!isModulefieldedit(1, 'turnover')" [required]="HeadingServices.isModulefieldMendetory(1, 'turnover')">
            </div>
          <span class="help-block danger" *ngIf="turnover.errors?.pattern && turnover.touched">
            Take Numeric Value Only
          </span>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'turnover')">
            <span class="help-block danger"
              *ngIf="(turnover.errors?.required && f.submitted)||(turnover.errors?.required && turnover.touched)">
              The {{Headingss[0].heading10}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading11}} </label>
          <ng-select #selectstatus [clearOnBackspace]="false" [searchable]="false" [(ngModel)]="bridges.status" name="status" #status="ngModel" required
            class="ngsearch-dropdown input-fld required-fld">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selectstatus.filter($event.target.value)" />
            </ng-template>
            <ng-option value="" disable selected>Select {{Headingss[0].heading11}} </ng-option>
            <ng-option value="{{status}}" *ngFor="let status of leadStatus">{{status}}</ng-option>
          </ng-select>
          <!-- <select class="input-fld required-fld" [(ngModel)]="bridges.status" name="status" #status="ngModel" required>
            <option value="{{status}}" *ngFor="let status of leadStatus">{{status}}</option>

          </select> -->
          <span class="help-block danger" *ngIf="(status.errors?.required && f.submitted)||(status.errors?.required && status.touched)">
            The {{Headingss[0].heading11}}  is required
          </span>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'leadType')">
          <label>{{Headingss[0].heading12}} </label>
          <ng-select #selectleadpriority [clearOnBackspace]="false" [searchable]="false" [(ngModel)]="bridges.leadType" name="leadType" #leadType="ngModel" 
            class="ngsearch-dropdown input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'leadType')" [class.disable-fld]="!isModulefieldedit(1, 'leadType')" [disabled]="!isModulefieldedit(1, 'leadType')" [required]="HeadingServices.isModulefieldMendetory(1, 'leadType')">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selectleadpriority.filter($event.target.value)"  />
            </ng-template>
            <ng-option value="" disable selected>Select {{Headingss[0].heading12}}</ng-option>
            <ng-option value="{{item1.Name}}" *ngFor="let item1 of lead_Type">{{item1.Name}}</ng-option>
          </ng-select>
          <!-- <select class="input-fld" [(ngModel)]="bridges.leadType" name="leadType">
            <option value="" selected>Select Lead Priority</option>
            <option value="{{item1.Name}}" *ngFor="let item1 of lead_Type">{{item1.Name}}</option>

          </select> -->
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'leadType')">
            <span class="help-block danger"
              *ngIf="(leadType.errors?.required && f.submitted)||(leadType.errors?.required && leadType.touched)">
              The {{Headingss[0].heading12}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-12" *ngIf="isModulefieldview(1, 'assignedTo')" >
          <label>{{Headingss[0].heading13}}</label>
          <ng-select #selectassignTo [clearOnBackspace]="false" [searchable]="false" [(ngModel)]="bridges.assignedTo" name="assignedTo"
            class="ngsearch-dropdown input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'assignedTo')" [class.disable-fld]="!isModulefieldedit(1, 'assignedTo')" [disabled]="!isModulefieldedit(1, 'assignedTo')" [required]="HeadingServices.isModulefieldMendetory(1, 'assignedTo')">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selectassignTo.filter($event.target.value)" />
            </ng-template>
            <ng-option value="" disable selected>Select {{Headingss[0].heading13}}</ng-option>
            <ng-option *ngFor="let item of bridgess" value="{{item.id}}">{{item.firstName}}</ng-option>
          </ng-select>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'assignedTo')">
            <span class="help-block danger"
              *ngIf="(assignedTo.errors?.required && f.submitted)||(assignedTo.errors?.required && assignedTo.touched)">
              The {{Headingss[0].heading13}} is required
            </span>
          </ng-container>
          <!-- <select class="input-fld" [(ngModel)]="bridges.assignedTo" name="assignedTo">
            <option value="{{UserId}}" selected>Choose Select</option>
            <option *ngFor="let item of bridgess" value="{{item.id}}">{{item.firstName}}</option>
          </select> -->
        </div>

        <div class="col-md-12" *ngIf="isModulefieldview(1, 'message')">
          <label>{{Headingss[0].heading14}}</label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'message')" name="message" [(ngModel)]="bridges.message" #message="ngModel"
            placeholder="Enter {{Headingss[0].heading14}}" [class.disable-fld]="!isModulefieldedit(1, 'message')" [disabled]="!isModulefieldedit(1, 'message')" [required]="HeadingServices.isModulefieldMendetory(1, 'message')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'message')">
              <span class="help-block danger"
                *ngIf="(message.errors?.required && f.submitted)||(message.errors?.required && message.touched)">
                The {{Headingss[0].heading14}} is required
              </span>
            </ng-container>
        </div>
        <div style="text-align: center;" *ngIf="isLoading">
          <img src="../../assets/img/loder.gif" style="height: 100%;width: 10%;">
        </div>
        <div class="col-md-12 text-center mt-3" *ngIf="!isLoading">
          <button class="add-invent1">{{Headingss[0].heading101}}</button>
        </div>

      </div>
    </div>
  </form>

</ng-template>

<div class="alert alert-primary success-box alert-dismissible fade show" role="alert">
  Lead Added Successfully !
</div>


<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title modal-heading" id="modal-basic-title">Edit Leads</h4>
    <button type="button" class="close clos-pop-btn" aria-label="Close" (click)="modal.dismiss('Cross click')"
      style="outline: none;">
      <span aria-hidden="true" style="outline: none;">×</span>
    </button>
  </div>
  <!-- <div *ngIf="error">{{error}}</div> -->
  <!-- <div *ngIf="success">{{success}}</div> -->
  <form #f="ngForm" name="theForm" (submit)="editLeads(f)">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <label>{{Headingss[0].heading1}}  </label>
          <input type="text" class="input-fld required-fld" name="companyName" [(ngModel)]="editbridges.companyName"
            #companyName="ngModel" placeholder="{{Headingss[0].heading1}}" required>
          <span class="help-block danger"
            *ngIf="(companyName.errors?.required && f.submitted)||(companyName.errors?.required && companyName.touched)">
            The {{Headingss[0].heading1}} is required
          </span>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading2}}  </label>
          <input type="text" class="input-fld required-fld" name="contactPerson" [(ngModel)]="editbridges.contactPerson"
            #contactPerson="ngModel" placeholder="Name" required>
          <span class="help-block danger"
            *ngIf="(contactPerson.errors?.required && f.submitted)||(contactPerson.errors?.required && contactPerson.touched)">
            The {{Headingss[0].heading2}} is required
          </span>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'designation')">
          <label>{{Headingss[0].heading4}}</label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'designation')" name="{{Headingss[0].heading4}}" [(ngModel)]="editbridges.designation"
            #designation="ngModel" placeholder="Designation" [class.disable-fld]="!isModulefieldedit(1, 'designation')" [disabled]="!isModulefieldedit(1, 'designation')" [required]="HeadingServices.isModulefieldMendetory(1, 'designation')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'designation')">
              <span class="help-block danger"
                *ngIf="(designation.errors?.required && f.submitted)||(designation.errors?.required && designation.touched)">
                The {{Headingss[0].heading4}} is required
              </span>
            </ng-container>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading3}}  </label>
          <input type="text" class="input-fld required-fld" name="phoneNumber" [(ngModel)]="editbridges.phoneNumber"
            #phoneNumber="ngModel" placeholder="{{Headingss[0].heading3}}" maxlength="15" pattern="^((\\+91-?)|0)?[0-9]{7,15}$" required>
          <span class="help-block danger" *ngIf="phoneNumber.errors?.required ">
            The {{Headingss[0].heading3}} Number is required
          </span>
          <span class="help-block danger" *ngIf="phoneNumber.errors?.pattern && phoneNumber.touched">
            Invalid {{Headingss[0].heading3}} Number
          </span>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'email')">
          <label>{{Headingss[0].heading5}}</label>
          <input type="email" email="true" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'email')" name="{{Headingss[0].heading5}}" [(ngModel)]="editbridges.email"
            #email="ngModel" placeholder="Email" [class.disable-fld]="!isModulefieldedit(1, 'email')" [disabled]="!isModulefieldedit(1, 'email')" [required]="HeadingServices.isModulefieldMendetory(1, 'email')">
          <span class="help-block danger" *ngIf="email.errors?.email">
            Invalid {{Headingss[0].heading5}} Id
          </span>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'email')">
            <span class="help-block danger"
              *ngIf="(email.errors?.required && f.submitted)||(email.errors?.required && email.touched)">
              The {{Headingss[0].heading5}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'location')">
          <label>{{Headingss[0].heading6}}</label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'location')" name="location" [(ngModel)]="editbridges.location" #location="ngModel"
            placeholder="{{Headingss[0].heading6}}" [class.disable-fld]="!isModulefieldedit(1, 'location')" [disabled]="!isModulefieldedit(1, 'location')" [required]="HeadingServices.isModulefieldMendetory(1, 'location')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'location')">
              <span class="help-block danger"
                *ngIf="(location.errors?.required && f.submitted)||(location.errors?.required && location.touched)">
                The {{Headingss[0].heading6}} is required
              </span>
            </ng-container>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading7}}  </label>
          <ng-select #selecteditsource [clearOnBackspace]="false" [searchable]="false" name="source" required
            [(ngModel)]="editbridges.source" #source="ngModel" class="ngsearch-dropdown input-fld required-fld">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selecteditsource.filter($event.target.value)" />
            </ng-template>
            <ng-option value="" disable selected>Select {{Headingss[0].heading7}}</ng-option>
            <ng-option value="{{item1.Name}}" *ngFor="let item1 of source1">{{item1.Name}}</ng-option>
          </ng-select>

          <!-- <select class="input-fld required-fld" name="source" required [(ngModel)]="editbridges.source"
            #source="ngModel" placeholder="Source">
            <option value="" selected disabled>Choose Select</option>
            <option value="{{item1.Name}}" *ngFor="let item1 of source1">{{item1.Name}}</option>

          </select> -->


          <span class="help-block danger"
            *ngIf="(source.errors?.required && f.submitted)||(source.errors?.required && source.touched)">
            The {{Headingss[0].heading7}} is required
          </span>



          <!-- <input type="text" class="input-fld" name="source" [(ngModel)]="editbridges.source" #source="ngModel" placeholder="Source"> -->
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'productInterest')">
          <label>{{Headingss[0].heading8}}</label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'productInterest')" name="productInterest" [(ngModel)]="editbridges.productInterest"
            #productInterest="ngModel" placeholder="{{Headingss[0].heading8}}" [class.disable-fld]="!isModulefieldedit(1, 'productInterest')" [disabled]="!isModulefieldedit(1, 'productInterest')" [required]="HeadingServices.isModulefieldMendetory(1, 'productInterest')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'productInterest')">
              <span class="help-block danger"
                *ngIf="(productInterest.errors?.required && f.submitted)||(productInterest.errors?.required && productInterest.touched)">
                The {{Headingss[0].heading8}} is required
              </span>
            </ng-container>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'numOfEmployee')">
          <label>{{Headingss[0].heading9}}</label>
          <input type="number" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'numOfEmployee')" name="numOfEmployee" [(ngModel)]="editbridges.numOfEmployee"
            #numOfEmployee="ngModel" min="0" placeholder="{{Headingss[0].heading9}}" pattern="^[0-9]*$" [class.disable-fld]="!isModulefieldedit(1, 'numOfEmployee')" [disabled]="!isModulefieldedit(1, 'numOfEmployee')" [required]="HeadingServices.isModulefieldMendetory(1, 'numOfEmployee')">
          <span class="help-block danger" *ngIf="numOfEmployee.errors?.pattern && numOfEmployee.touched">
            Take Numeric Value Only
          </span>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'numOfEmployee')">
            <span class="help-block danger"
              *ngIf="(numOfEmployee.errors?.required && f.submitted)||(numOfEmployee.errors?.required && numOfEmployee.touched)">
              The {{Headingss[0].heading9}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'turnover')">
          <label>{{Headingss[0].heading10}}</label>
          <div class="newrupe">
            <span class="span10">{{'' | priceFormat:''}}</span>
          <input type="number" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'turnover')" name="turnover" [(ngModel)]="editbridges.turnover" #turnover="ngModel"
            placeholder="2000" min="0" pattern="^[0-9]*$" [class.disable-fld]="!isModulefieldedit(1, 'turnover')" [disabled]="!isModulefieldedit(1, 'turnover')" [required]="HeadingServices.isModulefieldMendetory(1, 'turnover')">
            </div>
          <span class="help-block danger" *ngIf="turnover.errors?.pattern && turnover.touched">
            Take Numeric Value Only
          </span>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'turnover')">
            <span class="help-block danger"
              *ngIf="(turnover.errors?.required && f.submitted)||(turnover.errors?.required && turnover.touched)">
              The {{Headingss[0].heading10}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-6">
          <label>{{Headingss[0].heading11}}</label>
          <ng-select #selecteditstatus [clearOnBackspace]="false" [searchable]="false" [(ngModel)]="editbridges.status"
            name="status" #status="ngModel" class="input-fld required-fld" required>
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selecteditstatus.filter($event.target.value)" />
            </ng-template>
            <ng-option value="" disable selected>{{Headingss[0].heading11}}</ng-option>
            <ng-option value="{{status}}" *ngFor="let status of leadStatus">{{status}}</ng-option>
          </ng-select>
          <!-- <select class="input-fld required-fld" [(ngModel)]="editbridges.status" name="status">
            <option value="{{status}}" *ngFor="let status of leadStatus">{{status}}</option>
          </select> -->
          <span class="help-block danger"
            *ngIf="(status.errors?.required && f.submitted)||(status.errors?.required && status.touched)">
            The {{Headingss[0].heading11}} is required
          </span>
        </div>

        <div class="col-md-6" *ngIf="isModulefieldview(1, 'leadType')">
          <label>{{Headingss[0].heading12}}</label>
          <ng-select #selecteditleadpriority [clearOnBackspace]="false" [searchable]="false"
            [(ngModel)]="editbridges.leadType" name="leadType" #leadType="ngModel" class="ngsearch-dropdown input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'leadType')" [class.disable-fld]="!isModulefieldedit(1, 'leadType')" [disabled]="!isModulefieldedit(1, 'leadType')" [required]="HeadingServices.isModulefieldMendetory(1, 'leadType')">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selecteditleadpriority.filter($event.target.value)" />
            </ng-template>
            <ng-option value="" disable selected>Select Lead Priority</ng-option>
            <ng-option value="{{item1.Name}}" *ngFor="let item1 of lead_Type">{{item1.Name}}</ng-option>
          </ng-select>
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'leadType')">
            <span class="help-block danger"
              *ngIf="(leadType.errors?.required && f.submitted)||(leadType.errors?.required && leadType.touched)">
              The {{Headingss[0].heading12}} is required
            </span>
          </ng-container>
          <!-- <select class="input-fld" [(ngModel)]="editbridges.leadType" name="leadType">
            <option value="">Select Lead Type</option>
            <option value="{{item1.Name}}" *ngFor="let item1 of lead_Type">{{item1.Name}}</option>

          </select> -->
        </div>

        <div class="col-md-12" *ngIf="isModulefieldview(1, 'assignedTo')">
          <label>{{Headingss[0].heading13}}</label>
          <ng-select #selectleadassignedTo [clearOnBackspace]="false" [searchable]="false" [items]="bridgessList"
            bindLabel="firstName" placeholder="Select {{Headingss[0].heading13}}" bindValue="id" [(ngModel)]="editbridges.assignedTo"
            name="assignedTo" class="ngsearch-dropdown input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'assignedTo')" [class.disable-fld]="!isModulefieldedit(1, 'assignedTo')" [disabled]="!isModulefieldedit(1, 'assignedTo')" [required]="HeadingServices.isModulefieldMendetory(1, 'assignedTo')">
            <ng-template ng-header-tmp>
              <input class="ng-dropdown-search" style="width: 100%;line-height: 24px" placeholder="search" type="text"
                (input)="selectleadassignedTo.filter($event.target.value)" />
            </ng-template>
            <!-- <ng-option value="" disable selected>Select Assigned To</ng-option>
            <ng-option *ngFor="let item of bridgess" value="{{item.id}}">{{item.firstName}}</ng-option> -->
            <!-- <ng-option value="{{UserId}}">UnAssigned</ng-option> -->
          </ng-select>

          <!-- <select class="input-fld" [(ngModel)]="editbridges.assignedTo" name="assignedTo">
            <option *ngFor="let item of bridgessList" value="{{item.id}}">{{item.firstName}}</option>
            <option value="{{UserId}}">UnAssigned</option>
          </select> -->
          <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'assignedTo')">
            <span class="help-block danger"
              *ngIf="(assignedTo.errors?.required && f.submitted)||(assignedTo.errors?.required && assignedTo.touched)">
              The {{Headingss[0].heading13}} is required
            </span>
          </ng-container>
        </div>

        <div class="col-md-12" *ngIf="isModulefieldview(1, 'message')">
          <label>{{Headingss[0].heading14}}</label>
          <input type="text" class="input-fld" [class.required-fld]="HeadingServices.isModulefieldMendetory(1, 'message')" name="message" [(ngModel)]="editbridges.message" #message="ngModel"
            placeholder="{{Headingss[0].heading14}}" [class.disable-fld]="!isModulefieldedit(1, 'message')" [disabled]="!isModulefieldedit(1, 'message')" [required]="HeadingServices.isModulefieldMendetory(1, 'message')">
            <ng-container *ngIf="HeadingServices.isModulefieldMendetory(1, 'message')">
              <span class="help-block danger"
                *ngIf="(message.errors?.required && f.submitted)||(message.errors?.required && message.touched)">
                The {{Headingss[0].heading14}} is required
              </span>
            </ng-container>
        </div>

        <div style="text-align: center;" *ngIf="isLoading">
          <img src="../../assets/img/loder.gif" style="height: 100%;width: 10%;">
        </div>

        <div class="col-md-12 text-center mt-3" *ngIf="!isLoading">
          <button class="add-invent1" [disabled]="f.invalid">Save</button>
        </div>

      </div>
    </div>
  </form>

</ng-template>


<div class="alert alert-primary edit-success-box alert-dismissible fade show" role="alert">
  Updated Successfully !
</div>

<div class="alert alert-primary delete-success-box alert-dismissible fade show px-3 py-5" role="alert">
  Do You Want To Move Data In Junk ?
  <!-- <button type="button" class="btn-close" (click)="yesdeleteUser(0)"></button> -->
  <div class="delet-btn">
    <button type="button" class="yes-delete" (click)="yesdeleteUser(1)">Yes</button>
    <button type="button" class="no-delete" (click)="yesdeleteUser(0)">No</button>
  </div>
</div>


<!--- Assign view open -->

<ng-template #assignTO let-modal>
  <div class="modal-header">

    <h4 class="modal-title modal-heading" id="modal-basic-title">Assign</h4>

  </div>

  <div ngbDropdown class="d-block mx-3">
    <button type="button" class="btn btn-assign w-100 text-start assign-dropdown" id="dropdownForm1"
      ngbDropdownToggle>{{selectedValue ? selectedName : '- Choose Assignee Name -'}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="transform: translate(1px, 38px) !important;
    right: 0;">
      <div class="d-block p-3">
        <div class="position-relative search_icon ">
          <input type="text" class="form-control" placeholder="Search" (input)="filterDropdown($event)">
          <!-- <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"> -->
          <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>



        <div id="style-1" class="force-overflow">

          <ul class="scrollbox-content assign-ul">
            <li class="dropdown-item  border-bottom" *ngFor="let item of tereer ">
              <a (click)="selectValue(item.id? item.id:0)">
                <span>{{item.firstName | slice:0:2}}</span> {{item.firstName}}
              </a>
            </li>
            <li *ngIf="bridgess.length==0">No data</li>


          </ul>


        </div>
      </div>


    </div>

  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-center p-4 text-center">
      <button type="button" class="assign-btn" ngbDropdownItem (click)="Assign_()">Assign</button>
    </div>
    <div class="col-6 d-flex justify-content-center p-4 text-center">
      <button type="button" class="cancelbtn" (click)="modal.dismiss('Cross click')" ngbDropdownItem>Cancel</button>
    </div>
  </div>



</ng-template>

<!--- Assign View close-->

<div id="mySidepanel" class="sidepanel sidepanel2 px-0">
  <div class="row ">
    <div class="row">
      <div class="col-12 mb-1 px-3 border-bottom" id="FilterTopSide">
        <strong style="color: #4a79e4 !important;">Filters</strong>
        <a class="closebtn" (click)="closeNav()">&times;</a>
      </div>
    </div>
    <form name="form" novalidate>
      <div class="row">
        <div class="col-md-6 pe-3" id="MainPlaceholderFilter">
          <label class="MainFilterLabel filtersize">{{'From Date'}}</label>
          <input class="input-fld" type="date" name="CreateDate__gte" [(ngModel)]="filterLead.CreateDate__gte" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-md-6 pe-3" id="MainPlaceholderFilter">
          <label class="MainFilterLabel filtersize">{{'To Date'}}</label>
          <input class="input-fld" type="date" name="CreateDate__lte" [(ngModel)]="filterLead.CreateDate__lte" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-md-12 pe-3" id="MainPlaceholderFilter">
          <label class="MainFilterLabel filtersize">Assigned To</label>
          <ng-select id="CustomDesignInput" [items]="bridgessList" [multiple]="true" bindValue="id"
            bindLabel="firstName" placeholder="Select Employee" [(ngModel)]="filterLead.assignedTo"
            [ngModelOptions]="{standalone: true}">
          </ng-select>
        </div>

        <div class="col-md-12 mb-3 pe-3" id="MainPlaceholderFilter">
          <label class="MainFilterLabel filtersize">Source</label>
          <ng-select id="CustomDesignInput" [items]="source1" [multiple]="true" bindValue="Name" bindLabel="Name"
            placeholder="Select Source" [(ngModel)]="filterLead.source" [ngModelOptions]="{standalone: true}">
          </ng-select>
        </div>
      </div>

      <div class="FilterBtnHere">
        <div class="ResetBTN">
          <a (click)="resetfilter()">Reset</a>
        </div>
        <div class="ApplyBTN">
          <button (click)="RowPerPage()">Apply</button>
        </div>
      </div>
    </form>
  </div>
</div>
