<div class="d-flex justify-content-between phone_numberList">
  <button appKeyboardKey="1"></button>
  <button appKeyboardKey="2"></button>
  <button appKeyboardKey="3"></button>
</div>
<div class="d-flex justify-content-between phone_numberList">
  <button appKeyboardKey="4"></button>
  <button appKeyboardKey="5"></button>
  <button appKeyboardKey="6"></button>
</div>
<div class="d-flex justify-content-between phone_numberList">
  <button appKeyboardKey="7"></button>
  <button appKeyboardKey="8"></button>
  <button appKeyboardKey="9"></button>
</div>
<div class="d-flex justify-content-between phone_numberList">
  <button appKeyboardKey="*"></button>
  <button appKeyboardKey="0"></button>
  <button appKeyboardKey="#"></button>
</div>
<!-- <div>
  <button appKeyboardKey="1 ["></button>
  <button appKeyboardKey="2 ]"></button>
  <button appKeyboardKey="3 {"></button>
  <button appKeyboardKey="4 }"></button>
  <button appKeyboardKey="5 #"></button>
  <button appKeyboardKey="6 %"></button>
  <button appKeyboardKey="7 ^"></button>
  <button appKeyboardKey="8 *"></button>
  <button appKeyboardKey="9 +"></button>
  <button appKeyboardKey="0 ="></button>
</div> -->
<!-- <div>
  <button appKeyboardKey="1 ["></button>
  <button appKeyboardKey="2 ]"></button>
  <button appKeyboardKey="3 {"></button>
  <button appKeyboardKey="4 }"></button>
  <button appKeyboardKey="5 #"></button>
  <button appKeyboardKey="6 %"></button>
  <button appKeyboardKey="7 ^"></button>
  <button appKeyboardKey="8 *"></button>
  <button appKeyboardKey="9 +"></button>
  <button appKeyboardKey="0 ="></button>
</div> -->
<!-- <div>
  <button appKeyboardKey="a - _"></button>
  <button appKeyboardKey="s / \"></button>
  <button appKeyboardKey="d : |"></button>
  <button appKeyboardKey="f ; ~"></button>
  <button appKeyboardKey="g ( &lt;"></button>
  <button appKeyboardKey="h ) &gt;"></button>
  <button appKeyboardKey="j $ &euro;"></button>
  <button appKeyboardKey="k & &pound;"></button>
  <button appKeyboardKey="l @ &yen;"></button>
</div> -->
<!-- <div>
  <button class="special" (click)="onShift()" [class.toggled]="keyboard.shift">
    {{ keyboard.alt ? '#+=' : 'Shift' }}
  </button>
  <button appKeyboardKey='z " "'></button>
  <button appKeyboardKey="x . ."></button>
  <button appKeyboardKey="c , ,"></button>
  <button appKeyboardKey="v ? ?"></button>
  <button appKeyboardKey="b ! !"></button>
  <button appKeyboardKey="n ' '"></button>
  <button appKeyboardKey="m ` `"></button>
  <button class="special" (click)="onBackspace()">Del</button>
</div>
<div>
  <button class="special" (click)="onAlt()">
    {{ keyboard.alt ? 'ABC' : '123' }}
  </button>
  <button class="spacebar" appKeyboardKey="&nbsp; &nbsp; &nbsp;"></button>
  <button class="special wide" (click)="onEnter()">Enter</button>
</div> -->
