.firstTalbe{
  padding: 10px;
  border: 1px solid #dfdfdf;
  margin-top: 10px;
  border-radius: 8px;
}

.firstTalbe .figma-collapse-product-header{
  margin-bottom: 20px !important;
}


.firstTalbe .figma-outline-btn{
  padding: 2px 10px !important;
}

.figma-modal-fotter {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
  box-shadow: 0px -1px 6px 0px rgba(74, 74, 74, 0.25);
  background: var(--template-bg);
  border-radius: 0 0 14px 14px;
  width: 100%;
  z-index: 100;
}
/* .figma-modal-form {
  overflow: auto !important;
  height: calc(97vh - 280px) !important;
  margin-bottom: 60px !important;

} */
